#ynidea_create_idea div.form-label,
#ynidea_create_trophy div.form-label 
{
    float: none;
    margin: 0;
    padding: 0 0 5px;
    text-align: left;
    width: 250px;
}
div#filter_form, .filters, form#filter_form div.form-elements {
    background: none repeat scroll 0 0 transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
}
#reproducible-element .description,
#feasibility-element .description
{
	clear:both;
	font-size:7pt;
}

#tags_list1-label {display:none;}
#tags_list1-element span{
    padding:5px;   
    border:1px solid #CCC;
    background: #CCC; 
}

/*
BROWSE IDEALS
These styles are used on the browse ideas 
*/
.ideas_frame{
    background: none repeat scroll 0 0 transparent !important;
    border: 1px solid #D0E2EC;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 15px;
    padding: 15px;
}
ul.ideas_browse > li
{
  clear: both;
  overflow: hidden;
  padding-bottom: 15px;
}
ul.ideas_browse > li + li
{
  padding-top: 15px;
  border-top-width: 1px;
}
ul.ideas_browse .ideas_photo,
ul.ideas_browse .trophy_ideas_photo
{
  float: left;
  overflow: hidden;
}
html[dir="rtl"] ul.ideas_browse .ideas_photo
{
  float: right;
}
ul.ideas_browse .ideas_photo img
{
  width: 100px;
  display: block;
}
ul.ideas_list_tab .ideas_photo img
{
	width: 48px;
	height: 35px;
}
ul.ideas_list_tab .trophy_ideas_photo img
{
	width: 90px;
	height: auto;
}
ul.ideas_list_tab li
{
	padding-bottom: 5px;
}
ul.ideas_list_tab > li + li
{
	padding-top: 15px;
}
ul.ideas_browse .ideas_info
{
  padding-left: 10px;
  overflow: hidden;
  min-width: 200px;
}
ul.ideas_browse .trophy_ideas_info
{
	width: 65%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
html[dir="rtl"] ul.ideas_browse .ideas_info
{
  padding-left: 0px;
  padding-right: 10px;
}
ul.ideas_browse .ideas_title h3
{
  margin: 0px;
}
ul.ideas_browse .ideas_members
{
  font-size: .8em;
  color: $theme_font_color_light;
}
ul.ideas_browse .ideas_desc
{
  margin-top: 5px;
  clear: both;
  text-align: justify;
}
ul.ideas_browse .ideas_options
{
  float: right;
  overflow: hidden;
  width: 145px;
  font-size: 11px;
  padding-left: 15px;
}
html[dir="rtl"] ul.ideas_browse .ideas_options
{
  float: left;
  padding-left: 0px;
  padding-right: 15px;
}
ul.ideas_browse .ideas_options a
{
  clear: both;
  margin: 3px 0px 0px 0px;
  font-size: .8em;
  padding-top: 1px;
  height: 16px;
}
.idea_view_all
{
	float: right;
}
ul.judges_browse > li
{
  clear: both;
  overflow: hidden;
  padding-bottom: 5px;
}
ul.judges_browse > li + li
{
  
}
ul.judges_browse .judge_photo
{
  float: left;
  overflow: hidden;
  padding-right: 10px;
}
html[dir="rtl"] ul.judges_browse .judge_photo
{
  float: right;
}

/********************/
.icon_idea_edit
{
  background-image: url(~/application/modules/Ynidea/externals/images/edit.png);
}
.icon_idea_delete
{
  background-image: url(~/application/modules/Ynidea/externals/images/delete.png);
}

/*
 * Icons for options widget
 * 
 */
.menu_ynidea_edit
{
    background: url(~/application/modules/Ynidea/externals/images/edit.png) no-repeat left bottom;
}
.menu_ynidea_publish
{
    background: url(~/application/modules/Ynidea/externals/images/publish.png) no-repeat left bottom;
}
.menu_ynidea_assign
{
    background: url(~/application/modules/Ynidea/externals/images/assign.png) no-repeat left bottom;
}
.menu_ynidea_print
{
    background: url(~/application/modules/Ynidea/externals/images/print.png) no-repeat left bottom;
}
.menu_ynidea_download
{
    background: url(~/application/modules/Ynidea/externals/images/download.png) no-repeat left bottom;
}
.menu_ynidea_favourite
{
    background: url(~/application/modules/Ynidea/externals/images/favourite.png) no-repeat left bottom;
}
.menu_ynidea_unfavourite
{
    background: url(~/application/modules/Ynidea/externals/images/unfavourite.png) no-repeat left bottom;
}
.menu_ynidea_follow
{
    background: url(~/application/modules/Ynidea/externals/images/follow.png) no-repeat left bottom;
}
.menu_ynidea_unfollow
{
    background: url(~/application/modules/Ynidea/externals/images/unfollow.png) no-repeat left bottom;
}
.menu_ynidea_history
{
    background: url(~/application/modules/Ynidea/externals/images/history.png) no-repeat left bottom;
}
.menu_ynidea_delete
{
    background: url(~/application/modules/Ynidea/externals/images/delete.png) no-repeat left bottom;
}
.menu_ynidea_report
{
    background: url(~/application/modules/Ynidea/externals/images/report.png) no-repeat left bottom;
}
.menu_ynidea_enable
{
    background: url(~/application/modules/Ynidea/externals/images/icon_enable.gif) no-repeat left bottom;
}
.menu_ynidea_disable
{
    background: url(~/application/modules/Ynidea/externals/images/icon_disable.gif) no-repeat left bottom;
}
.menu_ynidea_judge
{
    background: url(~/application/modules/Ynidea/externals/images/judge-icon.png) no-repeat left bottom;
}
.menu_ynidea_manageidea,
.menu_ynidea_manageauthors
{
	background: url(~/application/modules/Ynidea/externals/images/manage_ideas_icon.png) no-repeat left bottom;
}
.menu_ynidea_addidea
{
	background: url(~/application/modules/Ynidea/externals/images/add_icon.jpg) no-repeat left bottom;
}
.menu_ynidea_reset
{
	background: url(~/application/modules/Ynidea/externals/images/icon_reset.png) no-repeat left bottom;
}
.menu_ynidea_cancel_request,
.menu_ynidea_campaign
{
	background: url(~/application/modules/Ynidea/externals/images/icon_campaign.png) no-repeat left bottom;
}
.item_icon_ynidea_idea,
.activity_icon_ynidea_idea_vote,
.notification_type_ynidea_version_publish,
.notification_type_ynidea_idea_vote,
.notification_type_ynidea_idea_award,
.notification_type_ynidea_judges_disablevoting,
.notification_type_ynidea_judges_enablevoting
{
	background: url(~/application/modules/Ynidea/externals/images/idea_icon.jpg) no-repeat left bottom;
}
.activity_icon_ynidea_trophy_new,
.activity_icon_ynidea_trophy_edit,
.button_ynidea_give_award
{
	background: url(~/application/modules/Ynidea/externals/images/icon_trophy.png) no-repeat left bottom;
}
/**
 *  end	
 * 
 */
 
 /**
 * Voting Box
 */
#ynidea_box{    
    width: auto;
    height: auto;
}
#ynidea_box .ynidea_box_row{
    margin_bottom:10px;
}
#ynidea_box .submit{
    margin:10px;
    cursor:pointer;
}
#ynidea_box input{
    cursor:pointer;
}
#ynidea_box .potential{
    float:left;
}
#ynidea_box .vote{
    float:left;
} 
#ynidea_box .add{
    padding:5px;
    float:left;
    width:32px;
    height:32px;    
}
#ynidea_box .minus{
    padding:5px;
    float:left;
    width:32px;
    height:32px;    
}
.ynidea_box_plus_acitve{
    background: url(~/application/modules/Ynidea/externals/images/plus_active.png) no-repeat left bottom;
}
.ynidea_box_plus_hover{
    background: url(~/application/modules/Ynidea/externals/images/plus_active_hover.png) no-repeat left bottom;
}
.ynidea_box_minus_acitve{
    background: url(~/application/modules/Ynidea/externals/images/minus_active.png) no-repeat left bottom;
}
.ynidea_box_minus_hover{
    background: url(~/application/modules/Ynidea/externals/images/minus_active_hover.png) no-repeat left bottom;    
}

  /**
 * Voting Box
 */

/* Featured Idea - Slide Show */
.ynidea_slideshow_container{
    +rounded;
    background-color: none;
    border-color: $theme_foreground_border_color;
    border-width: 1px;
    margin-bottom: 15px;
    padding: 10px 0 0 10px;
  
}
.ynidea_slideshow_container .slideshow_action {
    background: url(~/application/modules/Ynidea/externals/images/slideshow_mark_0.png) no-repeat;
    color: #FFF;
    cursor: pointer;
    float: left;
    font-size: 0pt;
    padding: 8px;
}
.ynidea_slideshow_container .slideshow_action_active {
    color: #FFF;
    background: url(~/application/modules/Ynidea/externals/images/slideshow_mark_1.png) no-repeat;
    cursor: pointer;
}
.ynidea_slideshow_container .slideshow_action > span {
    display: none!important;
}
.ynidea_slideshow_container .dssSlideContainer
{
    height: 260px!important;
    max-height: 260px!important;
}
@media all and (min-width:0)
{
    .dssSlideContainer
    {
        width: 5000px\0/!important;
    }   IE9 
}
.ynidea_slideshow_container .dssControlContainer
{
    float: right;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
}
.dssControlContainer  .slideshow_action, .dssControlContainer  .slideshow_action + .slideshow_action
{
    display: none;
}
.dssControlContainer .slideshow_action, .dssControlContainer .slideshow_action + .slideshow_action + .slideshow_action + .slideshow_action + .slideshow_action + .slideshow_action + .slideshow_action
{
    margin-left: 5px;
}
.dssControlContainer .slideshow_action + .slideshow_action + .slideshow_action
{
    display: block;
}
.featured_idea .idea_photo
{
	float: left;
	overflow: hidden;
}
.featured_idea .idea_info
{
	overflow: hidden;
    padding-left: 10px;
}
.featured_idea .idea_info .title
{
	font-size: 15px;
}
.featured_idea .idea_info .idea_value
{
	font-weight: bold;
}
.featured_idea .idea_description
{
	padding-top: 10px;
	height: 90px;
}
.featured_idea img.thumb_profile
{
    max-height: 130px;
    max-width: 160px;
}
.featured_idea .view_more
{
	float:right;
	padding-right: 12px;
}
/**
 * End featured idea	
 * 
 */
/**
 * 	
 * Tabs
 */
#yn_idea_tabs
{
  margin-top: 20px;
}
.main_tabs a.selected
{



}
/**
 * 	
 * End Tabs
 */

#ynidea_assign_judges #buttons-label,
#ynidea_add_nominees #buttons-label
{
	height: 0px;
}
#ynidea_assign_judges #submit,
#ynidea_add_nominees #submit
{
	float: left;
	margin-top: -5px;
}
#ynidea_assign_judges ul.message-autosuggest
{
  position: absolute;
  padding: 0px;
  width: 100px;
  list-style: none;
  z-index: 50;
  border: 1px solid $theme_border_dark_color;
  margin: 0px;
  list-style: none;
  cursor: pointer;
  white-space: nowrap;
  background: $theme_body_background_color;
}
#ynidea_assign_judges #toValues-wrapper,
#ynidea_add_nominees #toValues-wrapper
{
	margin-top: -10px;
}
#ynidea_assign_judges #buttons-wrapper,
#ynidea_add_nominees #buttons-wrapper
{
	clear: both;
	padding-top: 5px;
}
/* assign Co-Authors*/
#ynidea_assign_coauthors #buttons-label
{
	height: 0px;
}
#ynidea_assign_coauthors #submit
{
	float: left;
	margin-top: -5px;
}
#ynidea_assign_coauthors ul.message-autosuggest
{
  position: absolute;
  padding: 0px;
  width: 100px;
  list-style: none;
  z-index: 50;
  border: 1px solid $theme_border_dark_color;
  margin: 0px;
  list-style: none;
  cursor: pointer;
  white-space: nowrap;
  background: $theme_body_background_color;
}
#ynidea_assign_coauthors #toValues-wrapper
{
	margin-top: -10px;
}
#ynidea_assign_coauthors #buttons-wrapper
{
	clear: both;
	padding-top: 5px;
}
.layout_ynidea_ideas_profile_authors h3,
.layout_ynidea_trophy_profile_judges h3,
.layout_ynidea_trophy_profile_awards h3
{
	display: none;
}

.ynidea_table
{
    width: 100%;
    border: 1px solid #C5C5C5;
}
.ynidea_table .ynidea_header
{
    background-color: #C5C5C5;
    height: 30px;
    text-align: center;
}
.ynidea_table tr.ynidea_table_body
{
    border-bottom: 1px solid #EBEBEB;
    height: 28px; 
}
.ynidea_table tr.ynidea_table_body td
{
    border-right : 1px solid #EBEBEB;
    text-align: center;   
}

.ynidea_content >div
{
  font-size: 75%;
  color: #222;
  background: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.ynidea_content h1, 
.ynidea_content h2, 
.ynidea_content h3, 
.ynidea_content h4, 
.ynidea_content h5, 
.ynidea_content h6
{
	font-weight: normal; color: #111;
}

.ynidea_content h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
.ynidea_content h2 { font-size: 2em; margin-bottom: 0.75em; }
.ynidea_content h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
.ynidea_content h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
.ynidea_content h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
.ynidea_content h6 { font-size: 1em; font-weight: bold; }

.ynidea_content h1 img,
.ynidea_content h2 img,
.ynidea_content h3 img,
.ynidea_content h4 img,
.ynidea_content h5 img,
.ynidea_content h6 img 
{
  margin: 0;
}

.ynidea_content p           
{ 
    margin: 0 0 0.7em; 
}
.ynidea_content .left  			{ float: left !important; }
.ynidea_content p .left			{ margin: 1.5em 1.5em 1.5em 0; padding: 0; }
.ynidea_content .right 			{ float: right !important; }
.ynidea_content p .right 		{ margin: 1.5em 0 1.5em 1.5em; padding: 0; }

.ynidea_content blockquote  { margin: 1.5em; color: #666; font-style: italic; }
.ynidea_content strong,
.ynidea_content dfn	
{ 
    font-weight: bold; 
}
.ynidea_content em,
.ynidea_content dfn      
{ 
    font-style: italic; 
}
.ynidea_content sup,
.ynidea_content sub    
{ 
    line-height: 0; 
}

.ynidea_content abbr,
.ynidea_content acronym     
{ 
    border-bottom: 1px dotted #666; 
}
.ynidea_content address     
{ 
    margin: 0 0 1.5em; font-style: italic; 
}
.ynidea_content del         
{ 
    background: none repeat scroll 0 0 #FFDDDD;
    color: red; 
}
.ynidea_content pre         
{ 
    margin: 1.5em 0; white-space: pre; 
}
.ynidea_content pre,
.ynidea_content code,
.ynidea_content tt 
{ 
    font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; 
}


/* Lists
-------------------------------------------------------------- */

.ynidea_content li ul,
.ynidea_content li ol       
{ 
    margin: 0; 
}
.ynidea_content ul,
.ynidea_content ol      
{ 
    margin: 0 1.5em 1.5em 0; 
    padding-left: 1.5em; 
}

.ynidea_content ul          { list-style-type: disc; }
.ynidea_content ol          { list-style-type: decimal; }

.ynidea_content dl          { margin: 0 0 1.5em 0; }
.ynidea_content dl dt       { font-weight: bold; }
.ynidea_content dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

/* 
	Because of the need for padding on TH and TD, the vertical rhythm 
	on table cells has to be 27px, instead of the standard 18px or 36px 
	of other elements. 
 */ 
.ynidea_content table       
{ 
    margin-bottom: 1.4em; 
    width:100%;
    border: 1px solid #C5C5C5;
    border-collapse: collapse;  
}
.ynidea_content th          
{ 
    font-weight: bold;  
    text-align: left;
}
.ynidea_content thead th    
{ 
    background: #c3d9ff; 
}
.ynidea_content th,
.ynidea_content td,
.ynidea_content caption { padding: 4px 10px 4px 5px; }
.ynidea_content tr
{
    background-color: #C5C5C5;
    border-bottom: 1px solid #EBEBEB;
    height: 28px;
}
.ynidea_content tr + tr
{
    background-color: transparent;
}  
.ynidea_content td 
{
   border-right : 1px solid #EBEBEB;
}
/*
	You can zebra-stripe your tables in outdated browsers by adding 
	the class "even" to every other table row. 
 */
.ynidea_content tbody tr:nth-child(even) td, 
.ynidea_content tbody tr.even td  { 
	background: #e5ecf9; 
}
.ynidea_content tfoot       { font-style: italic; }
.ynidea_content caption     { background: #eee; }


/* Misc classes
-------------------------------------------------------------- */

.ynidea_content .small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.ynidea_content .large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.ynidea_content .hide       { display: none; }

.ynidea_content .quiet      { color: #666; }
.ynidea_content .loud       { color: #000; }
.ynidea_content .highlight  { background:#ff0; }
.ynidea_content .added      { background:#060; color: #fff; }
.ynidea_content .removed    { background:#900; color: #fff; }

.ynidea_content .first      { margin-left:0; padding-left:0; }
.ynidea_content .last       { margin-right:0; padding-right:0; }
.ynidea_content .top        { margin-top:0; padding-top:0; }
.ynidea_content .bottom     { margin-bottom:0; padding-bottom:0; }

/* nhittb added */
.layout_ynidea_ideas_profile_voting_box,
.layout_ynidea_ideas_profile_photo
{
	margin-bottom: 15px;
}
.layout_ynidea_ideas_profile_voting_box, 
.ynideabox_judges
{
    border: 1px solid #DDDDDD;
    overflow: hidden;    
}
.ynideabox_judges
{
    float: right;
    width: 130px!important;   
    padding: 5px; 
}
.ynidea_box_row .potential > div, #ynidea_box .submit, .total_score > div > div, .ynideabox_judges .ynidea_box_row .vote
{
    text-align: center;
}
#ynidea_box .submit input
{
    background-color: #666666;
    border: 1px solid #000000;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 10px;  
}
.total_score
{
    border-top: 1px solid #DDDDDD;
}
.total_score > div, .ynideabox_judges .ynidea_box_row .vote
{
    width: 50%;
}
ul.global_form_box div.ynidea_statistic_field
{
  float: left;
}
ul.global_form_box div.ynidea_statistic_info
{
  text-align: right;
  font-weight: bold;
}
#give_award_from .form-options-wrapper li
{
	float: none;
}
.ynidea_gold{
    color: #FEF200; font-size: 12pt
}
.ynidea_silver{
    color: silver; font-size: 12pt
}
#global_page_ynidea-index-create .global_form div > input + p,
#global_page_ynidea-trophies-create .global_form div > input + p,
#global_page_ynidea-index-edit-new-version .global_form div > input + p,
#global_page_ynidea-index-create .global_form .form-element .description,
#global_page_ynidea-trophies-create .global_form .form-element .description,
#global_page_ynidea-index-edit-new-version .global_form .form-element .description
{
	font-size: 9pt;
}
#global_page_ynidea-index-create .global_form > div > div > h3 + p,
#global_page_ynidea-trophies-create .global_form > div > div > h3 + p,
#global_page_ynidea-index-edit-new-version .global_form > div > div > h3 + p
{
	max-width: 100%;
}
#ynidea_form_trophy_ideas #ideas-element {
    border: 1px solid #BBBBBB;
    margin: 10px 0;
    max-height: 200px;
    overflow-y: auto;
    padding: 7px 10px;
}
#ynidea_form_trophy_ideas .form-options-wrapper li
{
	float: none;
}
#ynidea_form_trophy_ideas #ideas-label
{
	display: none;
}
#ynidea_create_trophy #toValues-label
{
	display: none;
}
#ynidea_box .ynidea_box_row
{
	clear: both;
}
#idea_photo img {
	width: 100%;
}
.ynidea_medal
{
	float: left;
	margin-top: -12px;	
}
.ynidea_glod_medal
{
	background: url(~/application/modules/Ynidea/externals/images/gold_medal.png) no-repeat left bottom;
	width: 24px;
	height: 37px;
	display: block;
	position: absolute;
}
.ynidea_silver_medal
{
	background: url(~/application/modules/Ynidea/externals/images/silver_medal.png) no-repeat left bottom;
	width: 24px;
	height: 37px;
	display: block;
	position: absolute;
}
.ynidea_profile_glod_medal
{
	background: url(~/application/modules/Ynidea/externals/images/gold_medal.png) no-repeat left bottom;
	width: 24px;
	height: 37px;
	display: block;
	float: left;
}
.ynidea_profile_silver_medal
{
	background: url(~/application/modules/Ynidea/externals/images/silver_medal.png) no-repeat left bottom;
	width: 24px;
	height: 37px;
	display: block;
	float: left;
}

/*** update 2014-01-14 ***/
#global_page_ynidea-index-give-award #global_content_simple textarea {
    width: 300px;
    max-width: 100%;
}
#ynidea_add_nominees #toValues-label>label ,
#ynidea_assign_coauthors #toValues-label>label ,
#ynidea_assign_judges #toValues-label>label 
{
	display: none;
}
#ynidea_add_nominees #to-element,
#ynidea_assign_coauthors #to-element,
#ynidea_assign_judges #to-element
{
	padding-bottom: 15px;
}

/*** fix tinymce ***/
.yntinymce {
  li {
    margin-left: 30px;
  }
  
  ul > li {
    list-style-type: disc;
    overflow: visible !important;
  }

  ol > li {
    list-style-type: decimal;
    overflow: visible !important;
  }

  ol > ol,
  ul > ol,
  ol > ul,
  ul > ul {
    margin-left: 20px;
  }

    img {
    max-width: 100%;
    height: auto;
  }

  embed, iframe {
    max-width: 100%;
  }
}

ul.ynidea-category {
	width: 100%;
	
	.ynidea-category_row:first-child {
		border: none;
	}

	.ynidea-category_row {   
		border-top: 1px solid $theme_border_medium_color;
		height: 30px;
		line-height: 30px;
		padding-left: 20px;
		
		a {
			font-weight: bold;
			display: block;
			white-space: nowrap;
			overflow: hidden
			text-overflow: ellipsis;
		}
	
	}

	li > div > img {
		vertical-align: middle;
		width: 16px;
		height: 16px;
	}
	
	.ynidea-category-sub-category.level_2 > div {
		padding-left: 20px;
	}
	
	.ynidea-category-sub-category.level_3 > div {
		padding-left: 40px;
	}
	
	.ynidea-category-sub-category.level_4 > div {
		padding-left: 60px;
	}
	
	.ynidea-category-collapse-control, 
	.ynidea-category-collapse-nocontrol {
		position: absolute;
		margin-left: -20px;
		width: 16px;
		height: 30px;
		cursor: pointer;
	}
	
	.ynidea-category-no-collapsed {
		background: url(~/application/modules/Ynidea/externals/images/collapse.png) no-repeat;
		background-position: center;
	}
	
	.ynidea-category-collapsed {
		background: url(~/application/modules/Ynidea/externals/images/collapse_collapsed.png) no-repeat;
		background-position: center
	}

	img.main, 
	img.thumb_normal, 
	img.thumb_profile, 
	img.thumb_icon {
		border: 0;
	}
}

ul.ideas_browse .ideas_cate
{
    margin-top: 6px;
    clear: both;
    text-align: justify;
}
