.layout_ynidea_cycle_ideas #ynidea_slideshow_container,
.layout_ynidea_cycle_trophies #ynidea_slideshow_container,
.layout_ynidea_cycle_trophies #ynidea_slideshow_container ul,
.layout_ynidea_cycle_trophies #ynidea_slideshow_container ul li {
    width: 100% !important;
}

.layout_ynidea_cycle_ideas #ynidea_slideshow_container,
.layout_ynidea_cycle_trophies #ynidea_slideshow_container {
    margin:0;
    padding: 0;
}

#global_page_ynidea-my-ideas-index ul.ideas_browse .ideas_options {
    width: auto !important;
    min-width: 0 !important;
}

#ynidea_box.ynideabox_votingbox input {
    outline: none;
}


body[id^=global_page_ynidea] .mce-tinymce.mce-container.mce-panel {
    max-width: 99%;
}

.featured_idea .idea_description {
    min-height: 90px;
    height: auto;
}

.ynidea_table_index_history tr th {
    text-align: center;
}

@media (max-width: 767px) 
{
    .layout_ynidea_container_advanced > .generic_layout_container > ul > li {
        float: none;
        width: 100% !important;
    }
    
    .layout_ynidea_trophy_profile_options #profile_options .menu_ynidea_print,
    .layout_ynidea_trophy_profile_options #profile_options ul > li:first-child + li + li + li {
        display: none;
    }
       
    .ynidea_table_index_history tr th:first-child + th,
    .ynidea_table_index_history tr th:first-child + th + th,
    .ynidea_table_index_history tr th:first-child + th + th + th,
    .ynidea_table_index_history tr th:first-child + th + th + th + th,
    .ynidea_table_index_history tr th:first-child + th + th + th + th + th,
    .ynidea_table_index_history tr td:first-child + td, 
    .ynidea_table_index_history tr td:first-child + td + td,
    .ynidea_table_index_history tr td:first-child + td + td + td,
    .ynidea_table_index_history tr td:first-child + td + td + td + td,
    .ynidea_table_index_history tr td:first-child + td + td + td + td + td {
        display: none;
    } 
}

@media (max-width: 640px) {
     
    #global_page_ynidea-my-ideas-index ul.ideas_browse > li .ideas_info,
    #global_page_ynidea-my-trophies-index ul.ideas_browse > li .ideas_info {
        overflow: hidden;
        padding-bottom: 20px;
        width: auto !important;
        float: inherit;
        min-width: 0;
        min-height: 160px;
    }
    
    #global_page_ynidea-my-ideas-index ul.ideas_browse > li,
    #global_page_ynidea-my-trophies-index ul.ideas_browse > li {
        position: relative;
        padding-bottom: 15px;
    }
    
    #global_page_ynidea-my-ideas-index ul.ideas_browse > li .ideas_options,
    #global_page_ynidea-my-trophies-index ul.ideas_browse > li .ideas_options {
        position: absolute;
        bottom: 3px;
        right: 0;
        width: auto;
    }
    
    #global_page_ynidea-my-ideas-index ul.ideas_browse > li .ideas_options div,
    #global_page_ynidea-my-trophies-index ul.ideas_browse > li .ideas_options div {
        display: inline-block;
    }
    
    #global_page_ynidea-my-ideas-index ul.ideas_browse > li .ideas_options a,
    #global_page_ynidea-my-trophies-index ul.ideas_browse > li .ideas_options a {    
        width: 0px;
        color: transparent;
    }
}
       
@media (max-width: 480px) 
{
    #global_page_ynauction-proposal-proposal-seller .admin_table td a {
        display: block;
    }
    
    .ynidea_table_index_history tr th:first-child + th + th + th + th + th + th,
    .ynidea_table_index_history tr th:first-child + th + th + th + th + th + th + th,
    .ynidea_table_index_history tr td:first-child + td + td + td + td + td + td,
    .ynidea_table_index_history tr td:first-child + td + td + td + td + td + td + td {
        display: none;
    } 
}