.poll-result-bar {
	margin-top: ceil($item-padding/3);
	height: 16px;
	background-color: $music-track-background-color;
	@include border-radius(4px);

	.color-bar{
		@include border-radius(4px);
		height: 16px;
		display: block;
		vertical-align: middle;
		padding-left: 3px;
		margin-right: 5px;
		float: left;

		&.color-bar-0 { background-color: #aaea4f; }
		&.color-bar-1 { background-color: #ea4f4f; }
		&.color-bar-2 { background-color: #4faaea; }
		&.color-bar-3 { background-color: #eaaa4f; }
		&.color-bar-4 { background-color: #4f5eea; }
		&.color-bar-5 { background-color: #4feabc; }
		&.color-bar-6 { background-color: #e54fea; }
		&.color-bar-7 { background-color: #eae84f; }   
	} 
}

.item-poll {
	& > .item:first-child {
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 30px;
		border: 0;

		.icon {
			right: 0;
			font-size: $icon-setting-size;
			margin-top: -3px;
		}
	}

	.item-avatar {
		border: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-left: -$item-padding;
		min-height: 50px;

		img,
		.img-avatar {
			top: 5px;
		}

		p:first-of-type {
			margin: 5px 0 0 0;
		}
	}

	&.active {
		border-color: $border-color;
		background-color: $background-color;

		& > .item:first-child,
		.item-avatar {
			background-color: $background-color;
		}
	}
}

.item-poll-detail {
	& > .item:first-child {
		padding-bottom: 0;
		border-bottom: 0;
	}

	& > .item.item-avatar {
		border-top: 0;
	}

	& > .item.item-text-wrap {
		border-top: 0;
		padding-top: 0;
		border-bottom: 2px solid $border-color;
		color: $description-color;
	}

	& > ul.list.list-vote {
		margin-bottom: 0;
		font-size: $font-description-size;

		.item.item-checkbox {
			border: 0;
		}
	}

	& .item.item-divider {
		text-align: center;	
		color: $description-color;	
		text-transform: uppercase;

		.icon {
			color: $description-color;
		}
	}

	.item-detail-users {
		.item { border: 0; }
		.item:first-child { padding-left: 40px; }
		.item > .icon:first-child {
			font-size: $icon-search-size;	
			color: $description-light-color;
		}

		h2 {
			margin-bottom: 0;
			text-transform: uppercase;
			color: $description-color;
		}

		h2 + .icon {
			right: 0;
			font-size: $icon-subheader-size;
			color: $description-light-color;
		}	

		.list-member img {
 			width: 40px;
 			height: 40px;
 			@include border-radius(4px);
 		}

 		.item-group-photo {
 			width: 93px;
 			height: 93px;
 			display: inline-block;
 			margin-right: $item-padding;
 			background-size: cover;
 			background-repeat: no-repeat;
 			background-position: center;
 		}
	}
}