.ynresume-item-resume,
.ynresume-resume-detail {
  h2,
  a,
  p {
    line-height: $line-height-small;
  }

  .icon,
  .icon-small {
    color: $gray;
  }

  .icon-small {
    float: left;
    margin-right: 4px;
    width: 12px;
    text-align: center;

    &.ion-ios-location {
      font-size: 16px;
      line-height: normal;
    }

    &.ion-ios-person {
      font-size: 18px;
      line-height: 21px;
    }

    &.ion-ios-email {
      font-size: 16px;
    }

    &.ion-ios-telephone {
      font-size: 16px;
    }
  }
}

.ynresume-item-resume {
  min-height: 82px;
  padding-left: 82px;
  padding-top: 8px;
  padding-bottom: 8px;

  .item-thumbnail {
    @include background-image(60px);
    @include border-radius(4px);
  }

  .item-info {
    p {
      font-size: $font-sub-size;
    }
  }
}

.ynresume-resume-detail {
  p {
    margin: 0;
  }

  .section-wrapper {
    .section-content {
      .item {
        &.item-thumbnail-left {
          &.resume-header {
            padding: 8px 0 8px 108px;
            min-height: 121px;

            .thumbnail {
              @include background-image(96px);
              @include border-radius(4px);

              position: absolute;
              top: 12px;
              left: 0;
            }

            .resume-name {
              font-size: $font-head-size;
              font-weight: bold;
            }

            .job-title {
              font-size: $font-description-size;
            }

            .item-info {
              p {
                font-size: $font-sub-size;
              }

              .icon-small {
                float: left;
                margin-right: 4px;
                width: 12px;
                text-align: center;
              }
            }
          }
        }

        &.ynresume-item-skill {
          @include display-flex();

          padding-top: 11px;
          padding-bottom: 11px;
          font-size: $font-description-size;
          line-height: 21px;

          .endorser-count {
            @include border-radius(4px);

            display: inline-block;
            width: 26px;
            height: 21px;
            background-color: $positive;
            color: #fff;
            text-align: center;
            margin-right: 6px;
          }

          .skill-title {
            @include flex();

            overflow: hidden;
            text-overflow: ellipsis;
          }

          .endorser-list {
            float: right;
            height: 21px;
            margin-left: 6px;

            .endorser-avatar {
              @include background-image(21px);
              @include border-radius(4px);

              display: inline-block;
              margin-right: 4px;
              float: left;
            }

            .button-right {
              display: inline-block;
              width: 21px;
              height: 21px;
              float: right;

              .icon {
                color: $positive;

                &:before {
                  line-height: inherit;
                }

                &.ion-ios-plus-empty,
                &.ion-ios-minus-empty {
                  font-size: 42px;
                }
              }

              .spinner {
                svg {
                  width: 21px;
                  height: 21px;
                }
              }
            }
          }
        }
      }
    }

    &.resume-experience {
      .company-title {
        font-size: $font-default-size;
      }
    }

    &.resume-recommendation {
      .recommendation-relationship {
        white-space: normal;
        margin-top: 4px;
        
        a {
          color: $base-color;
          font-weight: bold;
        }
      }
    }

    .author-title {
      font-weight: 500;
    }
  }
}

.resume-photo-list {

  .photo-item {
    &:nth-child(odd) {
      padding: 5px 5px 5px 0;
    }
    &:nth-child(even) {
      padding: 5px 0 5px 5px;
    }

    width: 25%;
    float: left;

    .grid-photo-item {

      border: none;
    }
  }
}