.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
/*Mixins*/
=font-size($px){
	font-size: calc($px/13)em;
}

=box-sizing{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

=transition{
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

=truncate{
	overflow: hidden;
	white-space: nowrap;
	word-break:break-word;
	word-wrap: break-word;
	text-overflow: ellipsis;
}

=border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

=text-clamp($line) {
	word-break: break-word;
	word-wrap: break-word; 
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-height: normal;        
	-webkit-line-clamp: $line; 

	line-height: 18px;
	height: calc(18*$line)px;
}

=background-image{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

*[class*=ynfullslider],
*[id*=ynfullslider]{
	+box-sizing();
	
	a,a:hover{
		text-decoration: none;
	}
}

/*----------  DEFINE HIDDEN ON MOBILE, TABLET, FULLSITE  ----------*/
@media screen and (min-width: 992px){
	.ynfullslider-hidden-fs	{
		display: none !important;
		opacity: 0 !important;
		visibility: hidden !important;
	}
}

@media screen and (max-width: 991px) and (min-width: 769px){
	.ynfullslider-hidden-tbl{
		display: none !important;
		opacity: 0 !important;
		visibility: hidden !important;
	}
}


@media screen and (max-width: 768px){
	.ynfullslider-hidden-mb{
		display: none !important;
		opacity: 0 !important;
		visibility: hidden !important;
	}
}


.ynfullslider_slider_preview .tp-caption{
	.ynfullslider_element_text{
		overflow: hidden;
		line-height: normal !important;
		padding: 15px;
		word-wrap: break-word;
		word-break: break-word;
		white-space: normal;

		p{
			margin-bottom: 1em !important;
		}

		*{
			line-height: inherit !important;
			white-space: normal;
		}
	}

	.ynfullslider_element_button{
		line-height: normal !important;

		p{
			line-height: normal !important;
			margin-bottom: 0 !important;
		}
	}

	*{
		font-family: inherit;
	}

	li ul,
	li ol
	{
	  margin: 0 1.5em;
	 
	}

	ul,
	ol
	{
	  margin: 0 1.5em 1.5em 1.5em;
	}

	ul,
	ul li
	{
	  list-style-type: disc;
		overflow: visible;
	}

	ol,
	ol li
	{
	  list-style-type: decimal;
	}
}


/*----------  Slider Navigator  ----------*/
.ynfullslider_slider_navigator_1{
	.tparrows{
		+border-radius(50%);
	}
}
.ynfullslider_slider_navigator_2{
	.tparrows{
		+border-radius(0);
		top: 0 !important;
		margin-top: 0 !important;
		width: 70px !important;
		height: 100% !important;

		&:before{
			position: absolute;
			top: 50%;
			margin-top: -20px;
			right: 50%;
			margin-right: -20px;
		}
	}
}
.ynfullslider_slider_navigator_3,
.ynfullslider_slider_navigator_4{
	.tparrows{
		+border-radius(0);
	}
}

.ynfullslider_slider_navigator_5{
	.tp-bullets.simplebullets .bullet,
	.tp-bullets.simplebullets .bullet:hover, 
	.tp-bullets.simplebullets .bullet.selected{
		width: 16px !important;
		height: 16px!important;
	}
}

.ynfullslider_slider_navigator_6{
	.tp-bullets.simplebullets .bullet,
	.tp-bullets.simplebullets .bullet:hover, 
	.tp-bullets.simplebullets .bullet.selected{
		+border-radius(0);
		text-align: center;
		color: #FFF;
		font-weight: bold;
		font-size: 14px;
		width: 30px !important;
		height: 30px !important;
		line-height: 30px !important;
		margin-left: 0px !important;
		border: none !important;
	}
}



/*----------  Slider Preview  ----------*/
.ynfullslider_slider_preview{
	position: relative;
	z-index: 1;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box; 

	*,&:after, &:before{
		+box-sizing();
	}
}


/*----------  ALIGN CENTER SLIDER WHEN NORWIDTH  ----------*/
.layout_ynfullslider_slider_container{
	margin: auto;
	clear: both;
	
	.tp-bannertimer{
		display: none;
	}
}	


/*----------  Empty Slide  ----------*/
.ynfullslider_empty_slider{
    width: 100%;
    position: relative;
    min-height: 320px;
	background: url('~/application/modules/Ynfullslider/externals/images/bg-empty-slide.jpg') no-repeat center;
	background-size: contain !important;

	.ynfullslider_btn-add{
		text-transform: none;
		position: absolute;
		bottom: 30px;
		left: 50%;
		margin-left: -77.5px;
	}
}


.ynfullslider_slider_preview .tp-caption {
	position:absolute;visibility: hidden;
	-webkit-font-smoothing: antialiased !important;
}

/*----------  REMOVE NAVIGATION IN LAYOUT-LEFT, LAYOUT-RIGHT AND MEDIA 768PX  ----------*/
.layout_left,
.layout_right{
	div[class*=ynfullslider_slider_navigator_]{
		.tparrows,
		.tp-bullets{
			display: none !important;
		}
	}
}

@media screen and (max-width: 768px){
	div[class*=ynfullslider_slider_navigator_]{
		.tparrows,
		.tp-bullets{
			display: none !important;
		}
	}

	.ynfullslider_element_button{
		* {font-size: inherit !important;}
	}
}



/*----------  GOLBAL CONTETN CONTAIN FULLSLIDER   ----------*/
#global_content .ynfullslider_slider_preview{
}