.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
/*Mixins*/
=font-size($px){
    font-size: calc($px/13)em;
}
=box-sizing
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

=transition{
    -webkit-transition: all 0ms ease-in-out;
    -o-transition: all 0ms ease-in-out;
    transition: all 0ms ease-in-out;
}

=ynaffiliate-background-image
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

=ynaffiliate-text-overflow 
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-word;
    word-wrap: break-word;
}

=border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
=ynaffiliate-text-shadow{
    text-shadow: none;
}


body[id^=global_page_ynaffiliate]{
    .tip{
        margin-top: 10px;
    }
}


.f1 .form-elements div.form-label {
    text-align: left;
    width: auto;
    float: none;
    font-size: 13px;
    margin-bottom: 1px;
    padding: 10px 0;
}

.f1 #submit-label {
    display: none;
}

.f1 .form-elements div.form-wrapper {
    float: left;
    clear: none;
    overflow: hidden;
    padding: 0;
}

.f1.text_calendar {
    display: inline;
    margin-top: 0px !important;
}

.img_calendar {
    position: relative;
    top: 3px;
    margin-left: -2px;
}

.f1 .form-elements div.form-element {
    min-width: 0;
    max-width: none;
    margin-right: 15px;
    overflow: visible;
}

.f1 .form-elements input[type="text"] {
    width: 100px;
}

.f1 input[type="text"] {
    margin-top: 0px !important;
}

.f1 button[type="submit"] {
    margin-top: 10px;
}



body[id^=global_page_ynaffiliate-admin]
{
	.tabs ul li
	{
		padding: 7px 0px;
	}
	.settings .form-element .description, .settings .form-description
	{
		max-width: 100%!important;
	}
}
.profile_fields {
    margin-top: 10px;
    overflow: hidden;
}
.profile_fields h4 {
    border-bottom: 1px solid #EAEAEA;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0.5em 0;
}
.profile_fields h4 > span {
    background-color: #FFFFFF;
    display: inline-block;
    margin-top: -1px;
    padding-right: 6px;
    position: absolute;
    color: #717171;
    font-weight: bold;
}
.profile_fields > ul {
    list-style-type: none;
    margin-top: 20px;
}
.profile_fields > ul > li {
    overflow: hidden;
    padding: 10px;

    &:nth-child(even){
        background: #F9F9F9;
    }    
    &:nth-child(odd){
        background: #EFEFEF;
    }
}

.profile_fields > ul > li > span {
    display: block;
    float: left;
    margin-right: 15px;
    overflow: hidden;
    width: 275px;
}

.profile_fields > ul > li > span + span {
    display: block;
    float: left;
    min-width: 0;
    overflow: hidden;
    width: auto;
}
.tabs > ul > li > a
{
     white-space:nowrap!important;
}

.ynaffiliate_stistic_chart{
    margin-top: 20px;

    /*padding: 20px;*/
    border: 2px solid $theme_border_color;
    position: relative;
    margin-bottom: 15px;

    *{
        +box-sizing;
    }

    #placeholder{
        padding: 0;
        margin: 0;
        position: relative;
    }

    .ynaffiliate_stistic_chart_header {
        position: absolute;
        top: -10px;
        left: 20px; 
        background: $theme_body_background_color;
        padding: 0 15px;
        font-size: 15px;
        color: $theme_link_color;
        font-weight: bold;

        *{font-weight: bold;}
    }

    .ynaffiliate_statistic_form{
        padding: 20px;
        overflow: hidden;
        background: transparent;
        & > div{
            padding: 0px;
            border: none;
            background: transparent;

            & > div{
                 background-color: transparent; 
                 border: none;
                 padding: 0px; 
            }
        }

        select{
            padding: 5px;   
            margin-left: 0;
            margin-right: 0;
        }

        #period-label{display: block !important;}

        button[type="submit"]{
            margin-top: 35px;
            margin-left: 25px;
        }

        .form-elements{
            padding: 0;
        }
    }

    .ynaffiliate_stistic_chart_box{
        padding: 20px;
        border-top: 1px solid $theme_border_color;
        position: relative;

        .ynaffiliate_statistics_nav{
            margin-bottom: 10px;
            text-align: center;

            #ynaffilate_from_to{
                margin: 0 20px;
                +font-size(18);
                font-weight: bold;
                vertical-align: top;
            }
        }
    }
}


/*Page network clients*/
.ynaffiliate_download_search_block{
    float: right;
    position: relative;
    z-index: 1;
    bottom: -15px;

    input[type="text"]{
        padding: 8px;
        padding-right: 30px;
        width: 200px;
        +box-sizing();
    }

    i.fa{
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 16px;
        color: $theme_font_color_light;
    }

    ul.message-autosuggest{
        right: 0px;
    }

    div#toValues-wrapper{
        overflow: hidden;
        position: absolute;
        width: 192px;
        right: 0px;
        top: 2px;
        margin-top: 5px;

        span.tag{
            position: relative;
            white-space: nowrap;
            max-width: 140px;
            overflow: hidden;
            z-index: 1;
            padding-right: 15px;
            text-overflow: ellipsis;

            & > a{
                position: absolute;
                right: 5px;
            }
        }
    }
}


.ynaffiliate_owner_clients{
    border-bottom: 2px solid $theme_border_color;
    position: relative;
    padding-bottom: 10px;
    padding-top: 25px;
    padding-left: 110px;

    .ynaffiliate_avatar{
        width: 95px;
        height: 95px;
        +box-sizing;
        display: block;
        overflow: hidden;

        position: absolute;
        left: 0;
        bottom: 0;
        margin-bottom: -47.5px;

        img{
            +border-radius(50%);
            +box-sizing;
            border: 3px solid $theme_border_color !important;
            width: 100%;
            height: 100%;
        }
    }
}

.ynaffiliate_owner_clients_info{
    +font-size(15);

    span.ynaffiliate_name{
        +font-size(18);
    }

    span.ynaffiliate_total_count{
        border-left: 1px solid $theme_border_color;
        padding-left: 20px;
        margin-left: 20px;
    }
}


ul.ynaffiliate-level-items{
   & > li.ynaffiliate-level-item.ynaffiliate-btn-more{
        padding: 0;
        border: 0;
        margin-top: 15px;
        text-align: right;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
    }
}


/*Level*/

    /*General*/
.ynaffiliate_client{
    ul{
        li{
            * {+transition();}
           
            +box-sizing();
            min-height: 95px;

            transition: height 300ms;
            -webkit-transition: height 300ms;

            .ynaffiliate_avatar{
                width: 60px;
                height: 60px;
                +box-sizing;
                display: block;
                overflow: hidden;

                position: absolute;
                left: 0;
                /*top: 50%;*/
                top:15px;
                /*margin-top: -30px;*/
                margin-left: -30px;

                img{
                    +border-radius(50%);
                    +box-sizing;
                    border: 3px solid $theme_border_color !important;
                    width: 100%;
                    height: 100%;
                }
            }

            .ynaffiliate_client_name{
                +font-size(15);
                color: $theme_font_color;

                &:hover{
                    color: $theme_link_color_hover;
                }
            }

            .ynaffiliate_client_item_info{
                background: $theme_link_color;
                color: #FFF;
                +box-sizing();
                padding: 10px 30px 10px 10px;
                +border-radius(3px);
                max-width: 320px;
                position: relative;
                margin-top: -10px;

                display: none;

                &:before{
                    content: "";
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 10px solid $theme_link_color;
                    position: absolute;
                    left: -10px;
                    /*top: 50%;*/
                    top:15px;
                    /*margin-top: -10px;*/
                }

                span.ynaffiliate_btn_action_close {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    padding: 10px;
                    cursor: pointer;

                    &:hover{
                        color: #F1F1F1;
                    }
                }

                a{
                    +font-size(16);
                    font-weight: bold;
                    color: #FFF;
                    margin-bottom: 5px;
                }

                p{
                    margin: 0;
                    padding: 0;
                    margin-top: 5px;
                    +font-size(14);
                    color: #FFF;
                }
            }

            span.ynaffiliate_btn_action_explain{
                margin-left: 10px;
                cursor: pointer;
                color: $theme_font_color_light;

                &:hover{
                    color: $theme_link_color_hover;
                }
            }

            &.ynaffiliate_explain_info{

                transition: height 300ms;
                -webkit-transition: height 300ms;

                & > .ynaffiliate_client_item_info{
                    display: block;
                }

                & > .ynaffiliate_avatar{
                    img{
                        border: 3px solid $theme_link_color_hover !important;
                    }
                }
                & > .ynaffiliate_client_name,
                & > .ynaffiliate_btn_action_explain{
                    display: none;
                }
            }
        }
    }
}  

.ynaffiliate_btn_action_items-more{
    width: 35px;
    height: 35px;
    color: $theme_font_color_light;
    display: block;
    +box-sizing();
    text-align: center;
    line-height: 32px;
    +border-radius(50%);
    border: 2px solid $theme_font_color_light;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 20px;

    &:hover{
        color: $theme_link_color_hover;
        border-color: $theme_link_color_hover;
    }
}

.ynaffiliate_level_clients{
    padding-left: 140px;
    padding-bottom: 100px; 
    overflow-x: auto;

    ul{

        li{
            border-left: 1px solid $theme_border_color;
            border-bottom: 1px solid $theme_border_color;
            padding: 35px 0 35px 45px;
            position: relative;

            /*ul{display: none}/*Temple*/
        }
    }
}


ul.ynaffiliate-level-items-more{
    border-top: 1px solid $theme_border_color;
    margin-top: 25px;
    /*margin-bottom: 25px;*/
    display: none;

    .ynaffiliate-level-item{
        &:before{
            content: "";
            width: 50px;
            height: 1px;
            border-top:1px solid $theme_border_color;
            display: block;
            position: absolute;
            left: -47px;
            top: 45px
        }

/*        &:last-child{
            padding-bottom: 0px;
            border-bottom: 0px;

            &:before{
                height: 1px;
                background: $theme_body_background_color;
            }
        }*/
    }
}


.ynaffiliate-level-item.ynaffiliate_item_more_explain{
    & > ul.ynaffiliate-level-items-more{
        display: block;
    }

    & > .ynaffiliate_avatar{
        img{
            border:3px solid $theme_link_color_hover !important;
        }   
    }

    & > .ynaffiliate_client_name{
        font-weight: bold;
    }
    
    & > .ynaffiliate_btn_action_items-more{
        color: $theme_link_color_hover;
        border: 2px solid $theme_link_color_hover;
    }

}

li.ynaffiliate-level-item.ynaffiliate-item-penultimate.ynaffiliate_item_more_explain:last-child{
    ul.ynaffiliate-level-items-more.ynaffiliate_last_level{
/*        left: -1px;
        border-bottom: none;*/
    }
}

ul.ynaffiliate-level-items-more.ynaffiliate_last_level{
    border:none;
    border-bottom: 1px solid $theme_border_color;
    margin-top: 50px;
    background: $theme_body_background_color;
    position: relative;
    left: 0px;

    li.ynaffiliate-level-item{
        padding: 0px;
        float: left;
        border: none;
        width: 90px;
        text-align: center;
        border-top: 1px solid $theme_border_color;
        padding: 0 15px;
        padding-top: 30px;
        margin-bottom: 30px;
        +box-sizing;
        margin-top: 0;
        min-height: 170px;

        &:last-child{
            &:before{
                background: $theme_body_background_color;
                width: 50px;
            }
        }

        &:before{
            content: "";
            height: 40px;
            position: absolute;
            display: block;
            width: 1px;
            border-left:1px solid $theme_border_color;
            border-top: none;
            left: 50%;
            top: -1px;
        }

        .ynaffiliate_avatar{
            position: relative;
            margin-left: 0;
            margin: auto;
            top: 0px;
            margin-bottom: 10px;
        }

        .ynaffiliate_client_name{
            margin-left: 0px;
            display: block;
            height: 43px;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 5px;
            overflow: hidden;
            line-height: 1.5em;
        }

        .ynaffiliate_client_item_info{
            width: 320px;
            z-index: 2;
            position: absolute;
            left: 50%;
            margin-left: -165px;
            margin-top: -44px;

            &:before{
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid $theme_link_color;
                border-top: none;
                position: absolute;
                left: 50%;
                top: -10px;
                margin-left: -5px;
            }
        }

        a[id^=loadmore_]{
            color: $theme_link_color;
            width: 60px;
            height: 60px;
            border: 2px solid $theme_link_color;
            display: block;
            +border-radius(50%);
            position: relative;
            background: #FFF;
            font-size: 30px;
            text-indent: -99999px;

            &:hover{
                border: 2px solid $theme_link_color;
                color: $theme_link_color;
            }

            &:before{
                content: "\\f067";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                text-indent: 0;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -12px;
                margin-top: -14px;
            }
        }
    }
}


.ynaffiliate-item-penultimate.ynaffiliate_item_more_explain{
    padding-left: 0;
    padding-bottom: 0;
    border-bottom: 0;

    .ynaffiliate_client_name{
        margin-left: 45px;
    }

    .ynaffiliate_client_item_info{
        margin-left: 45px;
    }
}

.ynaffiliate_stistic_count{
    margin-top: 20px;
    border: 2px solid $theme_border_color;
    position: relative;
    padding: 20px;
    
    .ynaffiliate_stistic_count_header{
        position: absolute;
        top: -10px;
        left: 20px;
        background: #fff;
        padding: 0 15px;
        font-size: 15px;
        /*color: $theme_link_color;*/
        font-weight: bold;
        white-space: nowrap;

        a{
            font-weight: bold;
        }
    }
}


.ynaffiliate_list_count_block{
    .ynaffiliate_list_count_items{
        /*margin-bottom: 25px;    */
        /*margin-top: 25px;*/

        & > li{
            display: inline-block;
            margin-right: 10px;
            font-weight: bold;
            +font-size(15);

            span{
                font-weight: normal;
            }
        }
    }
}

.ynaffiliate_approved{
    color: #19a17d;
    span{font-weight: bold !important}
}

.ynaffiliate_deplaying{
    color: #e97c1f;
    span{font-weight: bold !important} 
}

.ynaffiliate_commission{
    color: #333;
    span{font-weight: bold !important} 
}

.ynaffiliate_requested{
    color: #333;
    span{font-weight: bold !important} 
}

.ynaffiliate_waiting{
    color: #1FB9E9;
    span{font-weight: bold !important} 
}


body[id^=global_page_ynaffiliate-]{
    .xAxis .tickLabel{
         -webkit-transform: rotate(0deg); 
         transform: rotate(0deg); 
    }
}

body#global_page_ynaffiliate-admin-commission-rule-edit{
    .form-wrapper{
        margin-top:10px;

        .form-label{
            margin-bottom: 5px;
        }
    }
}

/*
MESSAGES AUTOSUGGEST
Used to style the autosuggest pulldown
shown when you are entering a recipient
on the compose message page.
*/
ul.message-autosuggest
{
    position: absolute;
    padding: 0px;
    width: 300px;
    list-style: none;
    z-index: 50;
    border: 1px solid $theme_border_dark_color;
    margin: 0px;
    list-style: none;
    cursor: pointer;
    white-space: nowrap;
    background: $theme_body_background_color;
}
ul.message-autosuggest > li
{
    padding: 3px;
    overflow: hidden;
}
ul.message-autosuggest > li + li
{
    border-top-width: 1px;
}
ul.message-autosuggest > li img
{
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    margin-right: 5px;
}
html[dir="rtl"] ul.message-autosuggest > li img
{
    float: right;
    margin-right: 0px;
    margin-left: 5px;
}
ul.message-autosuggest > li.autocompleter-selected
{
    background-color: $theme_list_background_color;
}
ul.message-autosuggest > li.autocompleter-choices
{
    font-size: .8em;
}
ul.message-autosuggest > li.autocompleter-choices .autocompleter-choice
{
    line-height: 25px;
}
ul.message-autosuggest > li:hover
{
    background-color: $theme_list_background_color_hover;
}
ul.message-autosuggest > li span.autocompleter-queried
{
    font-weight: bold;
}
ul.message-autosuggest .search-working
{
    background-image: none;
}
ul.message-autosuggest .friendlist
{
    background-image: url(~/application/modules/User/externals/images/friends/list.png);
    background-repeat: no-repeat;
    padding-left: 28px;
    background-position: 5px center;
}

body#global_page_ynaffiliate-admin-exchangerates-edit,
body#global_page_ynaffiliate-admin-exchangerates-addrate{
    #exchange_rate-label,
    #exchange_rate-element{
        display: inline-block;
    }

    #exchange_rate-element{
        white-space: nowrap;
    }

    input#exchange_rate{
        max-width: 60px;
    }
    p.description{
        display: inline-block;
    }

    #buttons-label{
        display: none;
    }
}

