/* trunglt - Title for idea box list in Create Campaign page */
.profile_fields {
	margin-top: 30px;
	overflow: hidden;
}

h4 > span > .ynfundraising_module_title {
	display: inline-block;
	position: absolute;	/*background-color: white;*/
	padding-right: 6px;
	margin-top: -1px;
}

/* FundRasing General Layout */
.layout_page_ynfundraising_index_browse .layout_right > div,
.layout_page_ynfundraising_index_view .layout_left > div,
.layout_page_ynfundraising_index_view .layout_right > div,
.layout_ynfundraising_campaigns_ideabox,
.layout_ynfundraising_campaigns_recent,
.layout_ynfundraising_campaigns_profile_info,
.layout_ynfundraising_campaigns_featured,
.layout_ynfundraising_campaigns_profile_options,
.layout_ynfundraising_menu_statistics_chartlist {
	clear: both;
	margin-bottom: 15px;
}

div.generic_layout_container.layout_ynfundraising_campaigns_profile_rating,
div.generic_layout_container.layout_ynfundraising_campaigns_profile_photo {
	margin-bottom: 0;
}

.layout_ynfundraising_campaigns_profile_info {
	overflow: hidden;
}

#ynfundraising_create_step1 #allow_anonymous-element label {
	width: 95%;
}

#ynfundraising_create_step1 #address-element > p > a {
	font-weight: bold;
	font-size: 8pt;
}

#ynfundraising_create_step1 #predefined-element {
	width: 400px;
}

#ynfundraising_create_step1 #predefined-element input {
	margin-bottom: 5px;
}

#ynfundraising_add_location label {
	font-weight: bold;
}

div#ynfundraising_loading_google_map {
	position: absolute;
	left: 30px;
	top: 40%;
}

div#ynfundraising_google_map_component {
	position: relative;
}

div.ynfundraising_map_canvas_featured {
	width: auto;
	height: 290px;
	border: 1px solid #ddd;
}

.ynfundraising_form_upload #video_url-label,
.ynfundraising_browse_filters #video_url-label {
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}

.ynfundraising_browse_filters #video_url-wrapper {
	padding-bottom: 15px;
}

.ynfundraising_quicklinks_menu .active {
	font-weight: 700;
}

.ynfundraising_layout_middle {
	width: 70%;
	float: left;
}

ul.ynfundraising_editphotos .ynfundraising_editphotos_photo {
	float: left;
	margin-right: 15px;
	overflow: hidden;
}

ul.ynfundraising_editphotos .ynfundraising_editphotos_photo img {
	display: block;
	margin: 3px;
	width: 130px;
}

ul.ynfundraising_editphotos .ynfundraising_editphotos_info {
	overflow: hidden;
}

ul.ynfundraising_editphotos .ynfundraising_editphotos_title_input input {
	margin: 2px 0px 6px 0px;
	width: 25em;
}

ul.ynfundraising_editphotos .ynfundraising_editphotos_caption_input text {
	margin: 2px 0px 6px 0px;
	width: 25em;
	height: 3em;
	min-height: 0px;
}

ul.ynfundraising_editphotos .ynfundraising_editphotos_cover {
	float: left;
}

ul.ynfundraising_editphotos .ynfundraising_editphotos_label {
	float: left;
	margin-right: 15px;
}

.photo-delete-wrapper > label {
	display: block;
	float: left;
}

ul.ynfundraising_editphotos .ynfundraising_editphotos_caption_input input {
	margin: 2px 0px 6px 0px;
}

.ynfundraising_editphotos li {
	margin-bottom: 15px;
}

/*back-end calendar*/
#ui-datepicker-div {
	font-size: 0.7em;
}

#ynfundraising_create_step_four .form-elements .form-wrapper {
	margin-bottom: 15px;
}

.ynfundraising_create_right_menu {
	width: 250px !important;
}

/***** fix Statistic page - haiht *****/
#global_page_ynfundraising-campaign-view-statistics-chart .ynfundraising_create_right_menu {
	width: 220px !important;
	float: right;
}

/***** ./end fix Statistic page - haiht *****/

/*----- trunglt -----*/

/*
Manage campaings
*/
ul.ynfundraising_campaigns_browse {
	clear: both;
}

ul.ynfundraising_campaigns_browse span h3 {
	margin: 0;
}

ul.ynfundraising_campaigns_browse > li {
	clear: both;
	padding: 0px 0px 15px 0px;
}

ul.ynfundraising_campaigns_browse > li + li {
	border-top-width: 1px;
	padding-top: 15px;
}

/*----- trunglt -----*/

/*
Manage campaings
*/
ul.ynfundraising_campaigns_browse {
	clear: both;
}

ul.ynfundraising_campaigns_browse span h3 {
	margin: 0;
}

ul.ynfundraising_campaigns_browse > li {
	clear: both;
	padding: 0px 0px 15px 0px;
}

ul.ynfundraising_campaigns_browse > li + li {
	border-top-width: 1px;
	padding-top: 15px;
}

ul.ynfundraising_campaigns_browse > li .ynfundraising_campaigns_browse_photo {
	float: left;
	overflow: hidden;
	margin-right: 8px;
}

html[dir="rtl"] ul.ynfundraising_campaigns_browse > li .ynfundraising_campaigns_browse_photo {
	float: right;
	margin-right: 0px;
	margin-left: 8px;
}

.ynfundraising_campaigns_browse_photo > a > img {
	margin-bottom: 10px;
	width: 150px;
}

ul.ynfundraising_campaigns_browse > li .ynfundraising_campaigns_browse_options {
	float: right;
	overflow: hidden;
	padding-left: 20px;
	width: 130px;
}

html[dir="rtl"] ul.ynfundraising_campaigns_browse > li .ynfundraising_campaigns_browse_options {
	float: left;
	padding-left: 0px;
	padding-right: 20px;
}

ul.ynfundraising_campaigns_browse > li .ynfundraising_campaigns_browse_options > a {
	clear: both;
	display: block;
	margin: 5px;
	font-size: .8em;
	padding-top: 2px;
	padding-bottom: 2px;
}

ul.ynfundraising_campaigns_browse > li .ynfundraising_campaigns_browse_info {
	overflow: hidden;
}

ul.ynfundraising_campaigns_browse > li .ynfundraising_campaigns_browse_info_title {
	font-weight: normal;
}

ul.ynfundraising_campaigns_browse > li > div > div > font.ynfundraising_campaigns_browse_info_status_0 {
	color: red;
	font-weight: bold;
}

ul.ynfundraising_campaigns_browse > li > div > div > font.ynfundraising_campaigns_browse_info_status_1 {
	color: green;
	font-weight: bold;
}

ul.ynfundraising_campaigns_browse > li > div > div > font.ynfundraising_campaigns_browse_info_status_2 {
	color: blue;
	font-weight: bold;
}

ul.ynfundraising_campaigns_browse > li .ynfundraising_campaigns_browse_info_date {
	font-size: .8em;
	color: $theme_font_color_light;
}

ul.ynfundraising_campaigns_browse > li .ynfundraising_campaigns_browse_info_blurb {
	margin-top: 5px;
	text-align: justify;
}

/* CREATE SEARCH FORM */
form.ynFRaising_createSearch {
	height: 22px;
}

form.ynFRaising_createSearch #button-wrapper .form-label,
form.ynFRaising_createSearch #search-wrapper .form-label {
	display: none;
}

form.ynFRaising_createSearch .form-elements #button-wrapper,
form.ynFRaising_createSearch .form-elements #search-wrapper {
	float: right;
}

form.ynFRaising_createSearch .form-elements #view-wrapper {
	float: left;
}

form.ynFRaising_createSearch .form-elements #search-wrapper input {
	margin-right: 5px;
	width: 300px;
}

form.ynFRaising_createSearch .form-elements .form-wrapper > div {
	float: left;
}

form.ynFRaising_createSearch .form-elements .form-wrapper + .form-wrapper {
	margin-top: 0 !important;
}

form.ynFRaising_createSearch .form-wrapper .form-label {
	margin-top: 5px;
	margin-right: 5px;
}

form.ynFRaising_createSearch .form-elements .overTxtLabel {
	padding-left: 2px;
	padding-top: 2px;
}

form.ynFRaising_createSearch .form-elements button {
	padding: 1px 8px;
}

ul.ynFRaising_createSearchUL {
	margin-top: 15px;
}

ul.ynFRaising_createSearchUL > li {
	width: 47.5%;
	min-height: 148px;
	margin-right: 0px;
	margin-bottom: 0px;
	border: 1px solid #FFF;
}

a.ynFRaising_createSearch_thumb,
a.ynFRaising_createSearch_thumb > img {
	display: block;
}

a.ynFRaising_createSearch_thumb {
	float: left;
	width: 125px;
}

a.ynFRaising_createSearch_thumb > img {
	width: 125px;
	max-height: 145px;
}

.ynFRaising_createSearchBtn {
	margin-top: 5px;
	display: none;
}

/* VIEW GRID STYLE GENERAL */
ul.ynFRaising_viewGeneralUL {
	overflow: hidden;
}

ul.ynFRaising_viewGeneralUL > li {
	float: left;
}

ul.ynFRaising_viewGeneralUL > li:hover {
	border: 1px solid $theme_foreground_border_color;
	-webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 2px 7px rgba(0, 0, 0, .1);
	box-shadow: 0px 2px 7px rgba(0, 0, 0, .1);
}

ul.ynFRaising_viewGeneralUL .ynFRaising_LRH3ULLi_info {
	padding-left: 15px;
}

.ynFRaising_viewGeneralUL li .ynFRaising_LRH3ULLi_date {
	padding: 3px 0;
}

ul.ynFRaising_viewGeneralUL > li:hover .ynFRaising_createSearchBtn {
	display: block;
}

/* VIEW ALL DONORS,
VIEW ALL SUPPORTERS
 */
#global_page_ynfundraising-campaign-view-all-donors .layout_left h3,
#global_page_ynfundraising-campaign-view-all-supporters .layout_left h3 {
	margin-top: 12px;
}

#global_page_ynfundraising-campaign-view-all-donors #global_content .global_form_popup,
#global_page_ynfundraising-campaign-view-all-supporters .global_form_popup {
	clear: both;
	+foreground;
	background-color: transparent;
	border-radius: 3px 3px 0 0;
}

#global_page_ynfundraising-campaign-view-all-donors #global_content .global_form_popup #name-wrapper .form-label,
#global_page_ynfundraising-campaign-view-all-supporters #global_content .global_form_popup #name-wrapper .form-label {
	display: none;
}

#global_page_ynfundraising-campaign-view-all-donors #global_content div.tip,
#global_page_ynfundraising-campaign-view-all-supporters #global_content div.tip,
ul.ynFRaising_viewAllUL {
	padding-top: 15px;
	+foreground;
	background-color: transparent;
	border-top: 0;
	border-radius: 0 0 3px 3px;
}

#global_page_ynfundraising-campaign-view-all-donors #global_content div.tip,
#global_page_ynfundraising-campaign-view-all-supporters #global_content div.tip {
	padding-left: 15px;
}

ul.ynFRaising_viewAllUL {
	padding-left: 20px;
}

ul.ynFRaising_viewAllUL > li {
	width: 28.7%;
	margin-right: 20px;
	margin-bottom: 15px;
	border: 1px solid $theme_foreground_border_color;
	min-height: 50px;
}

/* VIEW STATISTICS CHART */
#global_page_ynfundraising-campaign-view-statistics-chart .global_form_box,
.ynFRaising_StatisticColLeft {
	overflow: hidden;
	margin-bottom: 5px;
}

.ynFRaising_StatisticColLeft {
	float: left;
}

#global_page_ynfundraising-campaign-view-statistics-chart .global_form_box > div {
	float: left;
	margin-right: 5px;
}

#global_page_ynfundraising-campaign-view-statistics-chart .global_form_box > div > button {
	padding: 1px 8px;
}

.admin_statistics {
	clear: both;
	height: 400px;
}

/***** fix Statistic page - haiht *****/
#global_page_ynfundraising-campaign-view-statistics-chart .admin_statistics {
	clear: both;
	height: 400px;
	padding: 10px 0;
}

/***** ./end fix Statistic page - haiht *****/
.admin_statistics_nav {
	clear: both;
	width: 100%;
	overflow: hidden;
}

#my_chart {
	clear: both;
}

div.admin_statistics_nav > a#admin_stats_offset_next {
	float: right;
}

.currencyStatus {
	font-weight: 700;
	float: right;
}

.ynFRaising_icon_back {
	background-image: url(~/application/modules/Ynfundraising/externals/images/back.png);
	margin-bottom: 5px;
}

/* STATISTICS DETAIL */
#global_page_ynfundraising-campaign-view-statistics-detail #global_content h4 {
	clear: both;
}

.ynFRaising_DetailWrapper {
	clear: both;
	margin-bottom: 3px;
	overflow: hidden;
}

.ynFRaising_DetailLabel,
.ynFRaising_DetailContent {
	float: left;
}

.ynFRaising_DetailLabel {
	width: 150px;
	font-weight: 700;
}

.ynFRaising_DetailContent {
	width: 80%;
}

.layout_ynfundraising_campaigns_profile_aboutme .ynFRaising_DetailContent {
	width: 70%;
}

.ynFRaising_DetailH4 {
	margin-top: 15px;
}

/* POST NEWS UPDATE */
.global_form.ynFRaisingPostNew > div {
	float: none;
}

.global_form.ynFRaisingPostNew > div > div {
	padding-bottom: 25px;
}

.ynFRaising_PostNew_Submitbtn {
	margin: -40px 0 25px 184px;
}

.ynfundraising_news_item {
	margin-bottom: 15px;
}

div.layout_ynfundraising_campaigns_profile_news div.ynfundraising_news_item > h3 {
	margin-bottom: 0;
	background: none transparent !important;
}

div.ynfundraising_news_item > p {
	margin-top: 5px;
}

.global_form.ynFRaisingPostNew .description,
#ynfundraising_post_news.global_form_popup .description {
	font-size: 11px;
}

#ynfundraising_post_news.global_form_popup .form-label {
	font-weight: 700;
	padding-bottom: 2px;
}

#ynfundraising_post_news.global_form_popup .form-wrapper {
	margin-top: 6px;
}

/*----- Icons -----*/
.icon_ynfundraising_edit {
	background-image: url(~/application/modules/Ynfundraising/externals/images/edit.png);
}

.icon_ynfundraising_close {
	background-image: url(~/application/modules/Ynfundraising/externals/images/delete.png);
}

.icon_ynfundraising_statistics {
	background-image: url(~/application/modules/Ynfundraising/externals/images/icon_statistic.gif);
}

.icon_ynfundraising_delete {
	background-image: url(~/application/modules/Ynfundraising/externals/images/icon_delete.png);
	margin-left: 10px;
}

.icon_photos_new {
	background-image: url(~/application/modules/Ynfundraising/externals/images/addPhoto.png);
}

ul.thumbs.ynfundraising_list_campaigns > li {
	height: 220px;
	margin: 0 15px 0 0;
}

/* Featured campaign - Slide Show */
.ynfundraising_slideshow_container {
	border-radius: 0;
	background-color: none;
	border-color: $theme_foreground_border_color;
	border-width: 1px;
	padding: 0;
}

.ynfundraising_slideshow_container .slideshow_action {
	background: url(~/application/modules/Ynfundraising/externals/images/slideshow_mark_0.png) no-repeat;
	color: #FFF;
	cursor: pointer;
	float: left;
	font-size: 0pt;
	padding: 8px;
}

.ynfundraising_slideshow_container .slideshow_action_active {
	color: #FFF;
	background: url(~/application/modules/Ynfundraising/externals/images/slideshow_mark_1.png) no-repeat;
	cursor: pointer;
}

.ynfundraising_slideshow_container .slideshow_action > span {
	display: none !important;
}

.ynfundraising_slideshow_container .dssSlide {
	overflow: hidden !important;
}

.ynfundraising_slideshow_container .slideshow .dssSlideContainer {
	height: 290px !important;
	max-height: none !important;
}

@media all and (min-width:0) {
	.ynfundraising_slideshow_container .slideshow .dssSlideContainer {
		width: 5000px\0/ !important;
	}

	/* IE9 */
}

.ynfundraising_slideshow_container .dssControlContainer {
	float: right;
	position: absolute;
	right: 5px;
	top: -20px;
}

.dssControlContainer  .slideshow_action,
.dssControlContainer  .slideshow_action + .slideshow_action {
	display: none;
}

.dssControlContainer .slideshow_action,
.dssControlContainer .slideshow_action + .slideshow_action + .slideshow_action + .slideshow_action + .slideshow_action + .slideshow_action + .slideshow_action {
	margin-left: 5px;
}

.dssControlContainer .slideshow_action + .slideshow_action + .slideshow_action {
	display: block;
}

/* slide show in campaign detail */
#ynfundraising_gallery_slides {
	position: relative;
	top: 5px;
	left: 4px;
	z-index: 10;
	width: 500px;
	height: 348px;
	background: #1b1714;
}

#ynfundraising_gallery_slides .pagination {
	height: 43px;
	left: 34px;
	overflow: hidden;
	position: absolute;
}

#ynfundraising_gallery_slides .pagination li {
	float: left;
	margin: 2px;
	list-style: none;
	height: 40px;
}

#ynfundraising_gallery_slides .pagination li a {
	display: block;
	height: 41px;
	float: left;
	background: #f9f9f9;
	overflow: hidden
}

#ynfundraising_gallery_slides .pagination li a img {
	height: 39px;
	width: 48px;
	border: 1px solid #1B1714;
}

#ynfundraising_gallery_slides .pagination li a img:hover,
#ynfundraising_gallery_slides .pagination li.current a img {
	border: 1px solid #CCC;
}

#ynfundraising_gallery_slides .pagination li.current a {
	margin: 0;
}

.slides_container .ynfundraising_gallery_slides_container {
	width: 530px;
	height: 320px;
	overflow: hidden;
	position: relative;
	display: none;
}

.slides_container.ynfundraising_gallery_slides_container {
	width: 500px;
	height: 297px;
	overflow: hidden;
	position: relative;
	display: none;
}

.slides_container.ynfundraising_gallery_slides_container .panel {
	float: left;
	position: relative;
	width: 500px;
	text-align: center;
}

#ynfundraising_gallery_slides .next,
#ynfundraising_gallery_slides .prev {
	position: absolute;
	width: 22px;
	height: 21px;
	display: block;
	z-index: 1000;
	text-indent: -9999px;
	background: url(~/application/modules/Ynfundraising/externals/images/fr.png) no-repeat;
	bottom: 18px;
}

#ynfundraising_gallery_slides .next {
	left: 475px;
	background-position: -85px -125px;
}

#ynfundraising_gallery_slides .prev {
	left: 4px;
	background-position: -2px -125px;
}

/*CSS for Add this*/
.ynfundraising-addthis {
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	padding: 5px;
	margin-bottom: 5px;
	position: relative;
}

.ynfundraising-addthis span.ynfundraising-question {
	background: url(~/application/modules/Ynfundraising/externals/images/fr.png) no-repeat scroll 0 -499px transparent;
	display: inline-block;
	height: 17px;
	text-indent: -9999px;
	width: 16px;
}

.ynfundraising-addthis span.ynfundraising-value {
	position: absolute;
	right: 5px;
}

.ynfundraising-share {
	background: #f75c39;
}

.ynfundraising-click {
	background: #0077cc;
}

.viral {
	background: #424242;
}

.ynfundraising-highligh-detail .meter-wrap-l,
.ynfundraising-highligh-detail .meter-wrap-r,
.ynfundraising-highligh-detail .meter-wrap {
	background: url(~/application/modules/Ynfundraising/externals/images/nl-sm.png) repeat-x;
}

.ynfundraising-highligh-detail .meter-wrap {
	background-position: 0 -29px;
	height: 22px;
	padding-top: 3px;
	width: 170px;
}

.ynfundraising-highligh-detail .meter-wrap-l {
	background-position: 0 -2px;
	padding-left: 3px;
	background-repeat: no-repeat;
}

.ynfundraising-highligh-detail .meter-wrap-r {
	background-position: 100% -55px;
	padding-right: 2px;
	width: 171px;
	background-repeat: no-repeat
}

.ynfundraising-highligh-detail .meter-wrap-l {

	/* The width and height of your image */
	width: 170px;
	height: 22px;
	margin-left: 4px;
	position: relative;
	margin: 0 auto;
}

.ynfundraising-highligh-detail .meter-value {
	height: 15px;
	background: url(~/application/modules/Ynfundraising/externals/images/nl-s.jpg) no-repeat;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 9px;
	padding-top: 2px;
}

.ynfundraising-highligh-detail {
	color: #fff;
	font-size: 12px;
}

.ynfundraising-highligh-detail > .extra_info > p {
	color: #fff;
	font-weight: bold;
	text-align: center;
}

/* SPONSOR LEVELS */
.ynFRaising_campaign_SponsorLevelLabel {
	background-color: $theme_topbar_menu_background_color;
	border-radius: 6px 7px 0 0;
	padding: 10px 5px;
	text-align: center;
}

.ynFRaising_campaign_SponsorLevelLabel > span {
	display: block;
	color: #FFF;
	font-size: 16px;
	font-weight: 700;
}

.ynFRaising_campaign_SponsorLevelColRight > ul {
	background: url(~/application/modules/Ynfundraising/externals/images/sponsorLevel_1.png) repeat-x left top transparent;
	padding-top: 3px;
}

.ynFRaising_campaign_SponsorLevelColRight > ul > li {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	background-repeat: repeat-x;
	background-position: left top;
	background-image: none;
	background-color: $theme_tabs_background_color;
}

div.ynFRaising_campaign_SponsorLevelColRight > ul > li:first-child {
	background-image: none;
}

.ynFRaising_campaign_SponsorLevelColRight > ul > li + li {
	background-image: url(~/application/modules/Ynfundraising/externals/images/sponsorLevel_2.png);
}

.ynFRaising_campaign_SponsorLevelColRight > ul > li:hover {
	background-color: $theme_tabs_background_color;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: .80;
	opacity: .80;
}

.ynFRaising_campaign_SponsorLevelColRight > ul > li > a:link,
.ynFRaising_campaign_SponsorLevelColRight > ul > li > a:visited {
	text-decoration: none;
	display: block;
	line-height: 55px;
}

/* trunglt - My request table - */
table.ynfundraising_transaction_table {
	width: 100%;
}

table.ynfundraising_transaction_table thead tr th {
	background-color: $theme_foreground_background_color;
	padding: 10px;
	border-bottom: 1px solid #AAA;
	font-weight: bold;
	padding-top: 7px;
	padding-bottom: 7px;
	white-space: nowrap;
}

table.ynfundraising_transaction_table tbody tr:nth-child(even) {
	background-color: $theme_tabs_background_color;
}

table.ynfundraising_transaction_table tbody tr td {
	padding: 10px;
	border-bottom: 1px solid $theme_foreground_border_color;
	font-size: .9em;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: top;
	white-space: normal;
}

ul.ynfundraising_browse > li + li {
	border-top: 1px solid $theme_border_color;
	padding: 10px 0 10px 0;
	margin-top: 10px;
}

#ynfundraising_donate_campaign div.form-label {
	float: none;
	text-align: left;
	margin: 0px;
	padding: 0px 0px 5px 0px;
}

.ynfundraising_selectamount {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: #FFFFFF !important;
	font-size: 18px;
	padding: 10px 15px 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: $theme_button_background_color;
	background-repeat: repeat-x;
	border-color: $theme_foreground_border_color;
	line-height: normal;
	border: 1px solid #ccc;
}

.ynfundraising_selectamount:hover {
	background-position: 0 -15px;
	background-color: $theme_button_background_color_hover;
	text-decoration: none;
	color: #FFFFFF;
}

#ynfundraising_donate_campaign .ynfundraising_selectamount_select {
	background-color: $theme_button_background_color_hover;
}

.ynfundraising_selectamount:focus {
	outline: 1px dotted #666;
}

ul.ynfundraising_list_campaigns.thumbs {
	padding-left: 5px;
}

ul.thumbs.ynfundraising_list_campaigns .thumbs_photo {
	border: 0 none;
	display: block;
	padding: 3px;
	position: relative;
	border: 1px solid transparent;
}

ul.thumbs.ynfundraising_list_campaigns a.thumbs_photo:hover {
	text-decoration: none;
	display: block;
}

ul.thumbs.ynfundraising_list_campaigns .thumbs_photo > span {
	background-size: cover;
	width: 162px;
}

ul.thumbs.ynfundraising_list_campaigns .ynfundraising_campaignInfo .thumbs_title {
	width: 167px;
}

.ynFRaising_raisedTime {
	background-color: $theme_foreground_background_color;
	float: left;
	width: 82px;
	margin-top: 2px;
	padding: 4px 0;
	min-height: 32px;
}

.ynFRaising_raised {
	margin-right: 3px;
}

.ynFRaising_title,
.ynFRaising_raisedDesc {
	color: #434343;
	text-align: center;
	font-size: 10pt;
}

.ynFRaising_raisedDesc {
	font-weight: 700;
}

.ynfundraising_campaignInfo {
	clear: both;
}

/* Feature Campain Label */
.ynFRaising_featuredLabelWrapper {
	left: -4px;
	position: absolute;
	top: 83px;
}

.ynFRaising_featuredLabel {
	background-color: #FE0000;
	color: #FFFFFF;
	padding: 0 0 2px;
	text-align: center;
	font-size: 11px;
	font-weight: 700;
	text-transform: capitalize;
	-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.ynFRaising_featuredLabelCorner {
	position: relative;
	width: 176px;
}

.ynFRaising_featuredLabelLeftCorner,
.ynFRaising_featuredLabelRightCorner {
	border-bottom: 5px solid transparent;
	position: absolute;
	display: inline-block;
	*display: block;
}

.ynFRaising_featuredLabelLeftCorner {
	border-right: 5px solid #AE0000;
	left: 0;
}

.ynFRaising_featuredLabelRightCorner {
	border-left: 5px solid #AE0000;
	right: 0;
}

/* End Feature Campain Label */

/* Closed Campain and Expired Campain Label */
.ynFRaising_featuredLabelWrapper.closed .ynFRaising_featuredLabel,
.ynFRaising_featuredLabelWrapper.expired .ynFRaising_featuredLabel {
	background-color: #B4B4B4;
}

.ynFRaising_featuredLabelWrapper.closed .ynFRaising_featuredLabelLeftCorner,
.ynFRaising_featuredLabelWrapper.expired .ynFRaising_featuredLabelLeftCorner {
	border-right: 5px solid #7D7D7D;
}

.ynFRaising_featuredLabelWrapper.closed .ynFRaising_featuredLabelRightCorner,
.ynFRaising_featuredLabelWrapper.expired .ynFRaising_featuredLabelRightCorner {
	border-left: 5px solid #7D7D7D;
}

/* End Closed Campain Label */

/* Reached Goal Label */
.ynFRaising_featuredLabelWrapper.reached .ynFRaising_featuredLabel {
	background-color: #043960;
}

.ynFRaising_featuredLabelWrapper.reached .ynFRaising_featuredLabelLeftCorner {
	border-right: 5px solid #02233C;
}

.ynFRaising_featuredLabelWrapper.reached .ynFRaising_featuredLabelRightCorner {
	border-left: 5px solid #02233C;
}

/* End Reached Goal Label */
.ynFRaising_viewAll {
	font-size: 11px;
	font-weight: 700;
	clear: both;
}

.ynFRaising_viewAll > a:link,
.ynFRaising_viewAll > a:visited,
.ynFRaising_viewAll > a:hover {
	text-decoration: none;
}

.ynFRaising_viewAll > a > span {
	font-family: arial;
	font-size: 14px;
	padding-right: 5px;
}

.ynfundraising_quick_create {
	background-image: url(~/application/modules/Ynfundraising/externals/images/new.png);
}

a.buttonlink.menu_ynfundraising_close,
a.buttonlink.menu_ynfundraising_statistics,
a.buttonlink.menu_ynfundraising_invite,
a.buttonlink.menu_ynfundraising_promote,
a.buttonlink.menu_ynfundraising_follow,
a.buttonlink.menu_ynfundraising_unfollow,
a.buttonlink.menu_ynfundraising_edit,
a.buttonlink.menu_ynfundraising_email,
.item_icon_ynfundraising_campaign,
#global_page_ynfundraising-donate-summary .global_form .form-elements .form-wrapper button {
	background-image: url(~/application/modules/Ynfundraising/externals/images/fr.png);
	background-repeat: no-repeat;
	background-color: transparent;
	height: 16px;
	padding-left: 25px;
}

a.buttonlink.menu_ynfundraising_close,
a.buttonlink.menu_ynfundraising_statistics,
a.buttonlink.menu_ynfundraising_invite,
a.buttonlink.menu_ynfundraising_follow {
	width: 16px;
}

a.buttonlink.menu_ynfundraising_close {
	background-position: 0 -602px;
}

a.buttonlink.menu_ynfundraising_statistics {
	background-position: 0 -733px;
}

a.buttonlink.menu_ynfundraising_invite {
	background-position: 0 -682px;
}

a.buttonlink.menu_ynfundraising_promote {
	background-position: 0 -709px;
	width: 19px;
}

a.buttonlink.menu_ynfundraising_follow {
	background-position: 0 -661px;
}

a.buttonlink.menu_ynfundraising_unfollow {
	background-position: 0 -755px;
}

a.buttonlink.menu_ynfundraising_edit {
	background-position: 0 -623px;
}

a.buttonlink.menu_ynfundraising_email {
	background-position: 0 -642px;
}

.item_icon_ynfundraising_campaign {
	background-position: 0 -560px;
}

.notification_type_ynfundraising_notify_invi,
.notification_type_ynfundraising_notify_donate,
.notification_type_ynfundraising_notify_close,
.notification_type_ynfundraising_notify_reached,
.notification_type_ynfundraising_notify_expired,
.notification_type_ynfundraising_notify_news,
.notification_type_ynfundraising_notify_request {
	background-image: url(~/application/modules/Ynfundraising/externals/images/icon_campaign.png);
}

.notification_type_campaign_inactivated {
	background-image: url(~/application/modules/Ynfundraising/externals/images/inactive.png);
}

.notification_type_campaign_activated {
	background-image: url(~/application/modules/Ynfundraising/externals/images/active.png);
}

/* DONATE SUMMARY */
#global_page_ynfundraising-donate-summary .global_form div.form-label {
	width: 90px;
	padding-top: 1px;
}

#global_page_ynfundraising-donate-summary .global_form #donate-submit_wrapper div.form-element {
	float: none;
}

#global_page_ynfundraising-donate-summary .global_form .form-elements #donate-submit_wrapper .form-label {
	display: none;
}

#global_page_ynfundraising-donate-summary .global_form .form-elements .form-wrapper button {
	background-position: 0 -169px;
	height: 27px;
	border: 0;
	float: left;
	font-style: italic;
	color: #036;
	font-size: 14px;
	padding: 0 25px 0 45px;
}

#global_page_ynfundraising-donate-summary .global_form .form-wrapper .form-element > span {
	padding-top: 4px;
	display: block;
}

/* Fund Raising Featured */
.ynFRaising_EachSlide {
	position: relative;
}

.ynFRaising_FeatureGenneral {
	float: left;
}

.ynfundraising_campaign_photo {
	position: relative;
	width: 70%;
	height: 290px;
	overflow: hidden;
}

.ynfundraising_campaign_photo > a > img {
	max-width: none;	/*max-height: 290px;*/
	width: 100%;
	border: 0;
}

#ynfundraising_campaign_photo > img {
	width: 100%;
}

.layout_ynfundraising_campaigns_profile_parent_detail img {
	width: 100%;
}

.ynfundraising_campaign_featured_info {
	background: url(~/application/modules/Ynfundraising/externals/images/slide_bg_info.png) repeat transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px 10px 10px 15px;
	width: 100%;
}

div.ynfundraising_campaign_featured_info > .ynfundraising_browse_info_title > h3 {
	background: none transparent !important;
	padding: 0;
	font-weight: 700;
}

div.ynfundraising_campaign_featured_info > .ynfundraising_browse_info_title > h3 > a:link,
div.ynfundraising_campaign_featured_info > .ynfundraising_browse_info_title > h3 > a:visited,
div.ynfundraising_campaign_featured_info > .ynfundraising_browse_info_owner,
div.ynfundraising_campaign_featured_info > .ynfundraising_browse_info_owner > a:link,
div.ynfundraising_campaign_featured_info > .ynfundraising_browse_info_owner > a:visited,
div.ynfundraising_campaign_featured_info > .ynfundraising_browse_info_blurb {
	color: #FFF;
}

div.ynfundraising_campaign_featured_info > .ynfundraising_browse_info_title {
	font-weight: bold;
}

div.ynfundraising_campaign_featured_info > .ynfundraising_browse_info_owner {
	font-size: .8em;
}

div.ynfundraising_campaign_featured_info > .ynfundraising_browse_info_blurb {
	margin-top: 5px;
}

.ynFRaising_campaign_FeaturePrice {
	width: 30%;
	background-color: #216DA1;
	height: 290px;
}

.ynFRaising_campaign_FeaturePrice > div {
	margin-bottom: 15px;
}

.ynFRaising_FeaturePriceRaised {
	padding: 20px 0 0;
}

.ynFRaising_FeaturePriceRaised > div,
.ynfundraising-info,
.ynfundraising-time,
.ynFRaising_CampParentPriceRaised > div {
	text-align: center;
}

.ynFRaising_FeaturePriceRaised > div,
.ynfundraising-info,
.ynfundraising_donors > div:first-child,
.ynfundraising-time,
.ynFRaising_CampParentPriceRaised > div {
	color: #FFF;
}

.ynFRaising_FeaturePriceRaised > div,
.ynFRaising_DonorsLabel,
.ynfundraising-time,
.ynFRaising_CampParentPriceRaised > div {
	font-weight: 700;
}

.ynFRaising_FeaturePrice {
	font-size: 36px;
}

.ynFRaising_FeatureRaisedOf,
.ynFRaising_DonorsLabel {
	font-size: 12px;
}

.ynfundraising-time {
	font-size: 14px;
}

.ynfundraising_donors {
	padding: 0 20px;
}

.ynFRaising_DonorsLabel {
	margin-bottom: 7px;
}

.ynFRaising_thumbavatarDonors img.thumb_icon {
	width: 33px;
	height: 33px;
	border: 1px solid #333;
	margin-right: -3px;
}

img.ynfundraising_timeClockIcon {
	background: url(~/application/modules/Ynfundraising/externals/images/fr.png) no-repeat 0 -468px transparent;
	display: inline-block;
	*display: block;
	height: 27px;
	width: 0;
	padding-left: 27px;
	vertical-align: middle;
	overflow: hidden;
}

/* CSS for Campaign Goal*/
.layout_ynfundraising_campaigns_profile_fundraising_goal {
	margin: 0 !important;
	padding: 0 !important;
}

.layout_ynfundraising_campaigns_profile_fundraising_goal > div {
	margin-bottom: 15px;
}

.ynFRaising_campaign_PriceColRight,
.ynFRaising_campaign_PriceIColRight,
.ynFRaising_campaign_PricePromote {
	background-color: #216DA1;
}

.ynFRaising_campaign_PriceColRight > div {
	margin-bottom: 15px;
}

.ynfundraising-campaign-goal {
	text-align: center;
}

.ynfundraising-campaign-goal p {
	font-size: 12px;
	font-weight: bold;
}

.ynfundraising-campaign-goal .ynfundraising-mn {
	font-size: 15px;
}

.ynfundraising-campaign-goal .ynfundraising-highligh-detail {
	background: none;
	margin-bottom: 10px;
	margin-top: 17px;
}

.ynfundraising-campaign-goal .ynfundraising-info {
	padding: 7px 0;
}

.ynfundraising-info {
	background-color: #174B70;
	padding: 8px 5px;
}

.ynfundraising-donate {
	background: url(~/application/modules/Ynfundraising/externals/images/fr.png) no-repeat 0 -169px;
	height: 48px;
	margin: 0 36px;
	padding-bottom: 20px;
}

.ynfundraising-donate a:link,
.ynfundraising-donate a:visited {
	color: #003366;
	display: block;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	line-height: 28px;
	margin-left: 45px;
	text-decoration: none;
}

/* CAMPAIGN FOR PARENT */
.ynFRaising_campaign_PriceIColRight > div {
	margin-bottom: 10px;
}

a.ynFRaising_campaignTitle:link,
a.ynFRaising_campaignTitle:visited,
.ynfundraising_campaign_description {
	color: #FFF;
}

a.ynFRaising_campaignTitle:link,
a.ynFRaising_campaignTitle:visited {
	display: block;
	font-size: 12px;
	font-weight: 700;
	padding: 20px 0 7px 5px;
}

.ynFRaising_subProperty {
	padding: 0px 5px;
}

.ynFRaising_campaign_photoColRight > a > img {
	width: 99%;
}

.ynFRaising_ownerStat {
	padding-left: 5px;
}

.ynFRaising_ownerStat,
.ynFRaising_ownerStat > a:link,
.ynFRaising_ownerStat > a:visited {
	color: #A3C2D7;
	font-size: 11px;
}

.ynFRaising_statictis {
	padding-bottom: 10px;
}

div.ynFRaising_CampParentPriceRaised {
	margin-bottom: 5px;
}

.ynFRaising_campaign_PriceIColRight > div.ynfundraising-highligh-detail {
	margin-bottom: 3px;
}

.ynfundraising_campaign_description {
	padding: 0 0 15px;
	text-align: justify;
}

/* PROMOTE CAMPAIGN */
.ynFRaising_PromoteWrapper {
	width: 540px;
	padding: 20px 0px 20px 20px;
}

.ynFRaising_PromoteWrapper .ynFRaising_donateCode > h3,
.ynFRaising_campaign_PricePromote {
	margin: 5px 0px 8px 0px;
}

.ynFRaising_PromoteWrapper .ynFRaising_donateCode > h3 {
	border-bottom: 1px #DFDFDF solid;
	padding: 0px 0px 5px 0px;
	font-size: 16px;
	color: #333;
	font-weight: normal;
}

.ynFRaising_donateCode,
.ynFRaising_campaign_PricePromote {
	float: left;
}

.ynFRaising_donateCode {
	margin-right: 30px;
	width: 290px;
}

.ynFRaising_campaign_PricePromote {
	width: 202px;
}

.ynFRaising_DonorPromote {
	margin-top: 5px;
}

textarea.ynFRaising_boxCode {
	height: 200px;
	width: 280px;
	font-size: 13px;
	background: url(~/application/modules/Ynfundraising/externals/images/ynFRaising_input.png) repeat-x #F4F4F4;
	padding: 4px;
	border: 1px solid #D7D7D7;
	border-radius: 0;
	color: #333;
}

/*
FUNDRAISING TOP DONORS WIDGET,
THANK YOU DONORS WIDGET
*/
.layout_ynfundraising_campaigns_topdonors,
.layout_ynfundraising_campaigns_profile_donors {
	clear: both;
	overflow: auto;
	width: 100%;
	margin-bottom: 15px;
}

ul.ynFRaising_LRH3ULLi {
	+foreground;
	+rounded;
	padding: 5px;
}

ul.ynFRaising_LRH3ULLi > li {
	clear: both;
	overflow: hidden;
	padding: 3px 5px 3px 5px;
}

a.ynFRaising_LRH3ULLi_thumb,
a.ynFRaising_LRH3ULLi_thumb > img {
	display: block;
}

a.ynFRaising_LRH3ULLi_thumb {
	float: left;
	width: 48px;
}

.ynFRaising_LRH3ULLi_info {
	padding: 0px 0px 0px 6px;
	overflow: hidden;
}

.ynFRaising_LRH3ULLi_name {
	font-weight: 700;
}

.ynFRaising_LRH3ULLi_date {
	font-size: .8em;
	color: $theme_font_color_light;
}

.ynFRaising_rightColViewAll {
	padding-left: 5px;
}

/*
FUNDRAISING STATISTICS WIDGET
*/
.layout_ynfundraising_campaigns_statistics {
	clear: both;
	overflow: auto;
	width: 100%;
	margin-bottom: 15px;
}

.layout_ynfundraising_campaigns_statistics ul {
	+foreground;
	+rounded;
	padding: 5px;
}

.layout_ynfundraising_campaigns_statistics ul > li {
	padding: 5px;
	overflow: hidden;
	clear: both;
}

.layout_ynfundraising_campaigns_statistics ul > li span {
	display: block;
	float: left;
	margin-right: 6px;
}

.layout_ynfundraising_campaigns_statistics ul > li div {
	display: block;
	float: left;
}

html[dir="rtl"] .layout_ynfundraising_campaigns_statistics ul > li span {
	margin-right: 0px;
	margin-left: 6px;
	float: right
}

html[dir="rtl"] .layout_ynfundraising_campaigns_statistics ul > li div {
	float: right
}

/* FUND RAISING TAG CLOUD */
a.ynFRaising_tagloudA:link,
a.ynFRaising_tagloudA:visited {
	font-size: 9pt;
	font-weight: 700;
}

/* PR0FILE RATING */
.ynFRaising_campaignRate {
	padding-left: 5px;
}

.ynFRaising_campaignRate img {
	width: 16px;
}

.ynFRaising_allCamp {
	font-weight: 700;
}

/* PROFILE OWNER */
.layout_ynfundraising_campaigns_profile_owner > div > a:link,
.layout_ynfundraising_campaigns_profile_owner > div > a:visited,
.layout_ynfundraising_campaigns_profile_parent_detail > div > a:link,
.layout_ynfundraising_campaigns_profile_parent_detail > div > a:visited {
	display: block;
	font-size: 14px;
	font-weight: 700;
	text-transform: capitalize;
}

.layout_ynfundraising_campaigns_profile_owner > div > a:link,
.layout_ynfundraising_campaigns_profile_owner > div > a:visited {
	padding-bottom: 5px;
}

.layout_ynfundraising_campaigns_profile_owner a.ynFRaising_campaignOwner:link,
.layout_ynfundraising_campaigns_profile_owner a.ynFRaising_campaignOwner:visited {
	padding-bottom: 0px;
}

.layout_ynfundraising_campaigns_profile_owner > div > a > img,
.layout_ynfundraising_campaigns_profile_parent_detail > div > a > img {
	max-width: 188px;
}

.ynFRaising_campaignOwner > img {
	width: 100%;
}

/* Detail Content */
.ynFRaising_Detaildesc,
div#ynfundraising_google_map_component {
	padding: 5px 0px
}

.ynFRaising_DetailComment {
	margin-top: 10px;
}

.ynFRaising_Detaildesc > p,
.ynFRaising_Detaildesc > div {
	padding: 3px 0;
	clear: both;
	text-align: justify;
}

.ynFRaising_Detaildesc > p {
	line-height: 15px;
}

/* 	DONATE FORM */
#ynfundraising_donate_campaign .form-elements {
	margin-top: 5px;
}

#ynfundraising_donate_campaign .form-elements #is_anonymous-wrapper .form-label,
#ynfundraising_donate_campaign .form-elements #is_agreed-wrapper .form-label,
#ynfundraising_donate_campaign .form-elements #submit-wrapper .form-label {
	display: none;
}

#amount-wrapper {
	padding-top: 7px;
}

#ynfundraising_donate_campaign .form-elements .form-wrapper #amount-element {
	margin-bottom: 3px;
}

/* CREATE STEPS FORM */
.ynfundraising_create_right_menu .quicklinks {
	background-color: transparent;
}

ul.ynfundraising_quicklinks_menu > li {
	padding: 0;
}

ul.ynfundraising_quicklinks_menu > li:hover {
	background-color: $theme_tabs_background_color;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: .80;
	opacity: .80;
}

ul.ynfundraising_quicklinks_menu > li > a:link,
ul.ynfundraising_quicklinks_menu > li > a:visited {
	display: block;
	line-height: 27px;
	padding: 0 6px;
}

ul.ynfundraising_quicklinks_menu > li > a:hover {
	text-decoration: none;
}

#global_page_ynfundraising-index-edit-step-one #ynfundraising_create_step1 div#main_description-element {

	/*margin-left: 45px;
	clear: both;*/
}

#ynfundraising_create_step1 #predefined-wrapper .form-element > a,
#ynfundraising_create_step1 #predefined-wrapper .form-element > p {
	text-align: left;
}

#ynfundraising_create_step1 .form-elements #buttons-wrapper .form-element {
	min-width: 350px;
}

#ynfundraising_create_step1 .form-elements #buttons-wrapper,
#ynfundraising_create_step1 .form-elements #buttons-wrapper .form-element {
	overflow: visible;
}

#ynfundraising_create_step1 .form-elements #buttons-wrapper .form-element > a#submit {
	margin-top: -5px;
}

#ynfundraising_create_step1 .form-elements #buttons-wrapper .form-element > a#submit,
#global_page_ynfundraising-index-create-step-three .global_form_popup > a.smoothbox,
.admin_statistics_nav > a#admin_stats_offset_previous,
.admin_statistics_nav > a#admin_stats_offset_next,
#global_page_ynfundraising-donate-summary .global_form .form-elements #donate-submit_wrapper a#donate-edit_wrapper {
	+rounded;
	padding: 5px;
	font-weight: bold;
	border: none;
	background-color: $theme_button_background_color;
	border: 1px solid $theme_button_border_color;
	color: $theme_button_font_color;
	background-image: url(~/application/modules/Core/externals/images/buttonbg.png);
	background-repeat: repeat-x;
	background-position: 0px 1px;
	display: block;
	float: left;
	margin-right: 5px;
}

#ynfundraising_create_step1 .form-elements #buttons-wrapper .form-element > a#submit:hover,
#global_page_ynfundraising-index-create-step-three .global_form_popup > a.smoothbox:hover,
.admin_statistics_nav > a#admin_stats_offset_previous:hover,
.admin_statistics_nav > a#admin_stats_offset_next:hover,
#global_page_ynfundraising-donate-summary .global_form .form-elements #donate-submit_wrapper a#donate-edit_wrapper:hover {
	text-decoration: none;
	background-color: $theme_button_background_color_hover;
	cursor: pointer;
}

#ynfundraising_create_step_five textarea,
#ynfundraising_create_step_six textarea {
	max-width: 430px;
	width: 430px;
	height: 200px;
}

.global_form_popup #recipients-wrapper {
	clear: both;
}

.ynfundraising_quicklinks_menu .active {
	font-weight: 700;
}

#smoothbox_window #global_page_ynfundraising-index-add-location {
	overflow-y: hidden;
}

.ynFRaising_createSearch .form-wrapper {
	clear: none;
	padding: 0;
}

#global_page_ynfundraising-campaign-index .ynfundraising_campaigns_browse_photo,
.layout_ynfundraising_campaigns_profile_photo #ynfundraising_campaign_photo {
	position: relative;
}

#global_page_ynfundraising-campaign-index .wrap_link,
.layout_ynfundraising_campaigns_profile_photo .wrap_link {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 7px;
}

#global_page_ynfundraising-campaign-index .wrap_link .inactivated,
.layout_ynfundraising_campaigns_profile_photo .wrap_link .inactivated {
	background-color: #7A7A7A;
	color: #FFF;
	padding: 3px;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

#global_page_ynfundraising-index-create .search > form {
	overflow: hidden;
	border: 1px solid #ddd;
	background: #fff;
	padding: 15px;
}

#global_page_ynfundraising-index-create .search form > div:first-child {
	margin-left: 0px;
}

#global_page_ynfundraising-index-create .search form > div {
	float: left;
	overflow: hidden;
	margin-right: 10px;
	margin-bottom: 10px;
}

#global_page_ynfundraising-campaign-view-all-donors .ynfundraising_create_right_menu,
#global_page_ynfundraising-campaign-view-all-supporters .ynfundraising_create_right_menu {
	float: right;
}

/* Upload photo HTML5*/
#global_page_ynfundraising-photo-upload #form-upload > div {
	width: 100%;
}

#global_page_ynfundraising-photo-upload #files {
	display: none;
	list-style: none;
	width: 450px;
	margin-top: 15px;
	max-height: 200px;
	border: 1px solid #ccc;
}

/*** fix Bug layout when add a list of photo ***/
#global_page_ynfundraising-photo-upload  .ynfundraising_form_upload #files {
	overflow-y: auto;
	max-width: 100%;
}

/*** ./End fix Bug layout when add a list of photo ***/
#global_page_ynfundraising-photo-upload #files > li {
	padding: 8px 8px 8px 28px;
	font-size: .8em;
	font-weight: normal;
	background: #fff;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: 6px 7px;
	background-image: url(~/externals/fancyupload/assets/waiting.png);
	background-repeat: no-repeat;
}

#global_page_ynfundraising-photo-upload #files > li + li {
	border-top: 1px solid #ccc;
}

#global_page_ynfundraising-photo-upload #files li.file-success {
	background-image: url(~/externals/fancyupload/assets/finished.png);
	background-repeat: no-repeat;
}

#global_page_ynfundraising-photo-upload #files li .file-remove {
	clear: right;
	float: right;
	font-weight: bold;
	overflow: hidden;
}

#global_page_ynfundraising-photo-upload #files li .file-info {
	display: block;
	clear: both;
	overflow: hidden;
	font-weight: normal;
}

.progress-bar-success {
	background-color: $theme_button_background_color !important;
}

button {
	color: $theme_button_font_color !important;
}

#global_page_ynfundraising-photo-upload .global_form div.form-label {
	padding: 0px;
	width: 0px;
}

.btn-success {
	background-color: $theme_button_background_color !important;
	border-color: $theme_input_border_colors !important;
	color: $theme_button_font_color !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
	background-color: $theme_button_background_color_hover !important;
	border-color: $theme_input_border_colors !important;
	color: $theme_button_font_color !important;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
	background-image: none !important;
}

#ynfundraising_transfer div.form-elements > #to-wrapper {
	margin-top: -10px;
}

#ynfundraising_transfer #to-label,
#ynfundraising_transfer #submit-label,
#ynfundraising_transfer #cancel-label,
#ynfundraising_transfer div.form-elements > #toValues-wrapper > #toValues-label,
#global_page_ynfundraising-photo-upload #buttons-wrapper {
	display: none;
}

#ynfundraising_transfer #to-element {
	margin-top: 10px;
}

#ynfundraising_transfer .form-wrapper {
	clear: none;
}

#ynfundraising_transfer div.form-elements > #toValues-wrapper > #toValues-element > span.tag {
	margin-top: 0px;
	float: none;
}

.layout_ynfundraising_profile_options {
	margin-bottom: 15px;
}

.layout_ynfundraising_profile_slideshow_photos {
	clear: both;
}

#global_page_ynfundraising-index-create-step-five #email_sub-element {
	margin-top: 5px;
}

ul.ynfundraising_list_campaigns.thumbs .thumbs_photo:hover {
	padding: 3px;
}