/* $Id: main.css 2010-07-27 9:40:21Z SocialEngineAddOns Copyright 2009-2010 BigStep Technologies Pvt. Ltd. $ */

.profile_userconnections {
	margin-top: 20px;
	overflow: hidden;
}
.layout_Userconnection_profile_userconnections > ul {
	+foreground;
	+rounded;
	padding:10px;
}
.layout_Userconnection_profile_userconnections {
	padding-left:0 !important;
	padding-right:0 !important;
	margin-bottom:15px;
}
.layout_Userconnection_profile_userconnections h3 {
	margin-top:15px;
}
.ucp-sidebar-user-block {
	margin-left:40px;
	float:left;
}
.ucp-sidebar-user-block .user-photo {
	float:left;
	padding:5px 3px;
	text-align:center;
	width:70px;
}
.ucp-sidebar-user-block .user-photo .first {
	margin:10px 0 0 0px;
}
.userconnection-left-block h4 {
	font-size:11px;
	line-height:17px;
	padding:0 0 5px;
}
/* Tree seting by admin */
.indicatorsYellow {
	background-image: url(~/application/modules/Userconnection/externals/images/icon/indicatorsYellow.png);
	background-repeat:no-repeat;
	color:#9a8e2c;
}
.indicatorsGreen {
	background-image: url(~/application/modules/Userconnection/externals/images/icon/indicatorsGreen.png);
	background-repeat:no-repeat;
	color:#52801f;
}
.indicatorsBrown {
	background-image: url(~/application/modules/Userconnection/externals/images/icon/indicatorsBrown.png);
	background-repeat:no-repeat;
	color:#886425;
}
.indicatorsBlue {
	background-image: url(~/application/modules/Userconnection/externals/images/icon/indicatorsBlue.png);
	background-repeat:no-repeat;
	color:#326177;
}
.indicatorsYellow, .indicatorsGreen, .indicatorsBrown, .indicatorsBlue {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:24px;
	text-align:center;
	width:24px;
	height:24px;
}
.indicatorsYellow span, .indicatorsGreen span, .indicatorsBrown span, .indicatorsBlue span {
	font-size:9px;
	line-height:24px;
	font-weight:normal;
}
.indicators {
	width:24px;
	margin:5px auto;
}
.indicators-last {
	width:24px;
	float:left;
	margin:0 0 0 2px;
}
/*user network box start here*/
.layout_Userconnection_userhome_userconnection{
  padding-left:0 !important;
  padding-right:0 !important;
  margin-bottom:15px;
}
.layout_Userconnection_userhome_userconnection > ul li{
	margin:0px !important;
	padding:0px !important;
}
.usernetwork-2nddegree {
	margin:53px 0 0 0;
	width:66px;
	float:left;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	padding:0;
	display:inline;
}
.usernetwork-3rddegree {
	margin:53px 0 0 0;
	width:60px;
	float:left;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	padding:0;
	display:inline;
}
.usernetwork-contacts-text {
	margin:3px 0 0 0;
	float:left;
	color:#333333;
	font-size:11px;
	font-weight:normal;
	line-height:15px;
	width:100%;
	text-align:center;
}
.user-network-bottom-link {
	clear:both;
	padding:10px 5px 10px 0;
	font-size:11px;
	text-align:right;
}
/*user network box end here*/

/*user network box start here*/
.layout_Userconnection_profile_userconnections > ul li{
	padding:0px !important;
	margin:0px !important;
	overflow:hidden;
}
.ucp-users {
	padding:5px;
	margin:5px 0;
	+foreground;
	+rounded;
	text-align:center;
	height:100px;
	font-size:11px;
}
.ucp-sidebar-users {
	margin:5px 0;
	float:left;
	text-align:center;
	height:100px;
	font-size:11px;
	width:63px;
}
.ucp-rightarrow {
	padding-left:5px;
	padding-right:5px;
	width:30px;
	float:left;
	padding-top:40px;
	text-align:center;
	font-size:10px;
	height:85px;
}
.ucp-sidebar-rightarrow {
	padding-left:2px;
	padding-right:2px;
	width:16px;
	float:left;
	padding-top:20px;
	text-align:center;
	font-size:10px;
}
.ucp-sidebar-downarrow {
	margin:5px 3px 5px 70px;
	float:left;
	display:inline;
	padding:0;
	width:80px;
	font-size:11px;
}
.ucp-sidebar-downarrow2 {
	margin:5px 3px 5px 77px;
	float:left;
	display:inline;
	padding:0;
	width:100px;
	font-size:11px;
}
.ucp-sidebar-downarrow2 img, .ucp-sidebar-downarrow img {
	vertical-align:middle;
	margin-right:3px;
}
.ucp-userfriendship {
	margin:3px auto 0 auto;
	width:100%;
	text-align:center;
	float:left;
}
.ucp-userfriendship-Vertical {
	margin:3px auto 0 auto;
	text-align:left;
	float:left;
	width:25px;
}
.ucp-userfriendship-Vertical .first {
	float:left;
	margin:15px 0 0 5px;
}
.ucp-userfriendship img {
	vertical-align:middle;
}
.ucp-userfriendship-Vertical a.buttonlink, .ucp-userfriendship a.buttonlink {
	width:0px;
	height:16px;
	overflow:hidden;
	padding-left:16px;
	font-size:0px;
	margin:3px 0 0 2px;
}
.ucp-userfriendship-Vertical a.buttonlink {
	margin:0 0 4px 4px;
}
.username-sidebar {
	font-weight:bold;
	text-align:center;
	margin:3px 0;
}
.userconnection_player_button_launch_tooltip {
	+rounded(3px);
	display: none;
	position: absolute;
	background: #222;
	opacity: .9;
	color: #fff;
	text-align: center;
	padding: 5px;
	width: auto;
	font-size: .8em;
	margin-top: -25px;
	margin-left: -5px;
}
.userconnection_player_button_launch_wrapper:hover .userconnection_player_button_launch_tooltip {
	display: block;
}
/* css for index page */
#friend_list_box {
	width:100%;
	float:left;
	display:block;
	margin:0;
	padding:0;
	margin-bottom:15px;
}
#friend_list_box .friend_list {
	margin:10px 20px 0;
	width:45%;
	height:60px;
	border-bottom-width:1px;
	float:left;
}
#friend_list_box .friend_list .photo {
	float:left;
	margin-right:10px;
}
#friend_list_box .friend_list .user_details {
	overflow:hidden;
}
#friend_list_box .friend_list .user_details .name {
	margin-bottom:3px;
	font-weight:bold;
}
#friend_list_box .friend_list .user_details .friends {
	margin-top:3px;
	font-size: .8em;
	color: $theme_font_color_light;
}
#friend_list_box .friend_list .friends_option {
	float:right;
	width:120px;
}
#friend_list_box .friend_list .friends_option .buttonlink {
	font-weight:normal !important;
	font-size:11px;
	line-height:18px;
}
#global_page_userconnection-index-connectionsettings .global_form div.form-label {
	display:none;
}
.generic_userconnection_widget div.loader_text{
	height:50px;
	color:$theme_font_color_light;
}