.item-forum {
	.item-stats {
		margin-bottom: ceil($item-padding/2);
	}
}

.item-body img {
	max-width: 100%;
}

blockquote {
	margin: 0 0 ceil($item-padding/2);
	padding: ceil($item-padding/2) $item-padding;
	background-color: $sub-background-color;
	border-left: 5px solid $border-dark-color;

	p {
		font-size: $font-default-size;
	}

	blockquote {
		margin-top: ceil($item-padding/2);
	}

	& > strong:first-child {
		margin-bottom: ceil($item-padding/2);
		font-weight: normal;
		font-style: italic;

		&:before {
			content: "\f2d4";
			display: inline-block;
			font-family: "Ionicons";
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			text-rendering: auto;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			color: $unactive-color;
			margin-right: 5px;
		}
	}
}

.item-forum-reply > blockquote {
	margin: $item-padding;
}

.item-post {
	.item-time {
		color: $description-light-color;
		font-size: $font-sub-size;
	}

	.item-avatar + .item-body {
		border-top: 0;
		padding-top: 0;
	}
}

h2.item-post-title {
	font-size: $font-title-size;
	padding: $item-padding;
	font-weight: bold;
	margin-bottom: 0;
}

.item-post-detail iframe {
	width: 100%;
	max-width: 100%;
}

.item-topic.sticky {
	background-color: $sub-background-color;

	.icon,
	h2 {
		color: $active-color;
	}
}