.group-item {
	margin-top: $item-padding;
	margin-bottom: $item-padding;
	@include box-shadow(none);

 	.item {
 		background-color: $sub-background-color;	

 		.item-stats {
 			color: $description-light-color;
 		}

 		.item-description {
 			margin-bottom: 10px;
 			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical; 
 		}
 	} 	

 	.list-member {
 		height: 22px;
		overflow: hidden;

 		a { 
 			display: inline-block; 
 			margin-left: 4px;

 			&:first-child {
 				margin-left: 0;
 			}
 		}

		img {
	 		width: 21px;
	 		height: 21px;
	 		@include border-radius(4px);
		}	 		
 	}
}

.item-group-detail {
	.item-image span {
		display: block;
		width: 100%;
		height: 180px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.main-item {
		padding: 0 $item-padding;
		background-color: $base-background-color;

		.item {
			padding-left: 0;
			padding-right: 0;
			border-left: 0;
			border-right: 0;

			&.item-icon-left {
				padding-left: 34px;

				.icon {
					left: 0;
				}
			}

			.icon {
				font-size: $icon-setting-size;
				color: $description-light-color;
			}

			.ion-person + span {
				color: $description-light-color;
			}

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	.group-detail-photo,
	.group-detail-member {
		.item { border: 0; }
		.item:first-child { padding-left: 40px; }
		.item > .icon:first-child {
			font-size: $icon-search-size;	
			color: $description-light-color;
		}

		h2 {
			margin-bottom: 0;
			text-transform: uppercase;
			color: $description-color;
		}

		h2 + .icon {
			right: 0;
			font-size: $icon-subheader-size;
			color: $description-light-color;
		}	

		.list-member {
			white-space: nowrap;
			
			a { 
				display: inline-block; 
				height: 40px; 
 				margin-right: $item-padding;
			}

			img {
	 			width: 40px;
	 			height: 40px;
	 			@include border-radius(4px);
	 		}
	 	}

 		.item-group-photo {
 			width: 91px;
 			height: 91px;
 			display: inline-block;
 			margin-right: $item-padding;
 			background-size: cover;
 			background-repeat: no-repeat;
 			background-position: center;
 		}
	}
}