.item-ultimatenews-feed {
  padding: 0;

  .item-avatar {

    background-color: #f6f6f6;
    max-height: 58px;
    min-height: 58px;

    img {
      max-width: 32px;
      max-height: 32px;
      top: 14px;
    }

    h2 {
      color: $active-color;
      margin-bottom: 0;
    }

    span {
      font-size: 14px;
    }
  }

  .article-container {
    padding: 10px 0 0 0;
  }

  .item-icon-right {
    padding-right: 80px;

    .icon {
      top: 7px;
      font-size: 28px;

      &.icon2 {
        top: 0px;
        font-size: 18px;
        right: 42px;

        &.activated {
          color: $active-color;
        }
      }
    }
  }
}

.item-subscription-feed {
  min-height: 44px;
  padding: 18px 110px 12px 42px;

  .button {
    top: 14px;
    height: 24px;
    font-size: $font-size-base;
    border-radius: 4px;

    &.button-positive {
      background-color: #f8f8f8;
      color: #b6b9ba;
      border-color: #dadada;
    }
  }

  img:first-child {
    top: 16px;
    max-width: 20px;
    max-height: 20px;
  }
}

.item-ultimatenews-article {
  @include box-shadow(none);
  @include border-radius(0);
  margin: 0;
  width: 50%;
  float: left;

  &:nth-child(odd) {
    padding: 0px 5px 10px 0;
  }

  &:nth-child(even) {
    padding: 0px 0 10px 5px;
  }

  .item-image {
    height: 80px;
    margin: 0;
    padding: 0 !important;

    span {
      height: 100%;
      background-size: cover;
      display: block;
      background-repeat: no-repeat;
      background-position: center 20%;
    }
  }

  .item {
    padding: 8px;
    background-color: #f3f6f7;
  }

  .ultimatenews-article-content {
    white-space: normal;
    //    display: -webkit-box;
    //    -webkit-line-clamp: 3;
    //    -webkit-box-orient: vertical;
    height: 79px;
    overflow: hidden;
    margin-bottom: 4px;

    h2 {
      white-space: inherit;
      font-size: 13px;
      margin: 0 0 4px 0;
    }

    p {
      white-space: inherit;
      font-size: 13px;
      line-height: 1.2;
    }
  }

  span {
    font-size: 13px;
  }
}