.socialpublisher_facebook
{
	background: url(~/application/modules/Socialpublisher/externals/images/facebook.png) no-repeat;
}
.socialpublisher_twitter
{
	background: url(~/application/modules/Socialpublisher/externals/images/twitter.png) no-repeat;
}
.socialpublisher_linkedin
{
	background: url(~/application/modules/Socialpublisher/externals/images/linkedin.png) no-repeat;
}
#global_page_socialpublisher-index-share form
{
	margin: 10px;
}
#global_page_socialpublisher-index-share .socialpublisher_user_options
{
	overflow: hidden;
	padding-left: 10px;
}
fieldset.socialpublishers_content
{
	padding: 10px;
	border: 1px solid $theme_border_color;
}
form ul.socialpublisher_share_providers
{
	margin-top: 10px;
}
ul.socialpublisher_share_providers > li.socialpublisher_provider_icon
{
	padding: 10px 0px 10px 40px;
}
.socialpublisher_clear
{
	clear: both;
}
.socialpublisher_elements > div {
	margin-right: 5px;
	float: left;
}
.socialpublisher_elements 
{
	margin: 10px 0px;
}

.settings div.form-element ul li.socialpublisher_module_options, .settings div.form-element ul li.socialpublisher_module_providers, .settings div.form-element ul li.socialpublisher_module_privacy {
	padding-right: 20px;
	float: left;
	width: 140px;
}

.socialpublisher_header {
	background: $theme_button_background_color;
	padding: 5px 5px 5px 8px;
	color: $theme_button_font_color;
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.socialpublisher_form_wrapper {
	padding: 15px 0px 0px 0px;
	clear: both;
	overflow: hidden;
}

.socialpublisher_options_header {
	overflow: hidden;
}

.socialpublisher_border_options {
	font-size: 10pt;
	border-bottom: 1px solid hsl(0, 0%, 92%);
	padding: .5em 0 .5em 0;
	margin: 10px 0 20px 0;
}

.socialpublisher_border_options > span {
	display: inline-block;
	margin-top: -1px;
	padding-right: 6px;
	font-weight: bold;
}

ul > li.socialpublisher_options {
	/*float: left;*/
	padding: 0 20px 15px 0;
}
.socialpublisher_object_photo
{
    float: left;
    text-align: center;
    width: 120px;
}
.socialpublisher_object_photo img
{
	max-width: 120px;
}
.socialpublisher_object_content
{
	margin-left: 130px;
    word-wrap: break-word;
}
