.layout_page_socialpublisher_index_settings .socialpublisher_module_options input[type="radio"] {
	margin-right: 5px;
}
.layout_page_socialpublisher_index_settings ul li.socialpublisher_module_options,
.layout_page_socialpublisher_index_settings ul li.socialpublisher_module_providers,
.layout_page_socialpublisher_index_settings ul li.socialpublisher_module_privacy
{
	width: 160px!important;
}
#global_page_socialpublisher-index-settings .socialpublisher_header
{
	height: 34px;
	margin-top: 10px;
}
fieldset.socialpublishers_content
{
	border: none;
}
.layout_page_socialpublisher_index_settings .global_form > div{
	padding-top: 0px;
}
#smoothbox_window #global_page_socialpublisher-index-share #global_content_simple,
#smoothbox_window #global_page_socialpublisher-index-share #global_content_simple .socialpublisher_user_photo,
#smoothbox_window #global_page_socialpublisher-index-share .socialpublisher_user_options
{
	width: 100%!important;	
}
#smoothbox_window #global_page_socialpublisher-index-share .socialpublisher_user_options,
#smoothbox_window #global_page_socialpublisher-index-share #global_content_simple .socialpublisher_elements
{
	padding-left: 0px !important;
}
#smoothbox_window #global_page_socialpublisher-index-share #global_content_simple textarea 
{
	width: 85% !important;
}

#smoothbox_window #global_page_socialpublisher-index-share .socialpublishers_share_providers_checkbox input[type="checkbox"]
{
	margin-top: 2px!important;
	margin-right: 2px!important;
}
@media (max-width: 480px)
{
	#smoothbox_window #global_page_socialpublisher-index-share #global_content_simple textarea 
	{
		width: 75% !important;
	}
}

@media (max-width: 320px)
{
	#global_page_socialpublisher-index-share
	{
		width: 270px;		
	}	
	
}


