div.mp3music_albumfeatured_info > .mp3music_album_title > h3,
#form-upload-music h3,
#ynmp3music-inner h3
{
	margin-top: 0px;
	margin-bottom: 6px;
}
#ynmp3music-inner
{
	padding: 0px;
}
div.mp3music_albumfeatured_info > p.mp3music_album_info
{
	margin: 0px;
}
.mp3music_albumfeatured_info,
#upload_album .form-element
{
	width: 100%;
}
.box_search_music
{
	height: 28px;
}
.mp3_album_info
{
	width:98px!important;
}
.mp3music_browse_options a.buttonlink
{
	padding-left: 20px;
}
ul.mp3music_browse li
{
	clear: both!important;
}
.mainplayer_image_album p
{
	padding-left: 0px!important;
}
.mp3music_wrapper .younet_mp3music_feed
{
	width:100%!important;
}
#form-upload-music #files li .file-remove
{
	margin-left: 10px;
}
#mp3music_reverse #cter_popup div input
{
		height: 35px!important;
}
.mp3music_browse_info
{
	overflow: hidden!important;
}
.mejs-container .mejs-controls .mejs-time
{
	height: 26px;
}
#global_page_mp3music-playlist-edit #demo-list
{
	min-width: 350px;
}
body#global_page_mp3music-playlist-playlist-append
{
	overflow: hidden!important;
}
#form-edit-song{
	width: 100%;
}
@media (max-width: 1024px)
{
	.mp3_top_album li
	{
		padding-left: 8px!important;
	}
	.mp3music_playmusic,
	.music_player_tracks_add,
	.music_player_tracks_url,
	.mp3music_download
	{
		padding-right: 10px;
	}
}
@media (max-width: 991px)
{
	.mp3_top_album li
	{
		padding-left: 10px!important;
	}
}
@media (max-width: 640px)
{
	.music_browse_options .icon_music_playonprofile,
	.music_browse_options .icon_music_disableonprofile
	{
		display: block!important;
	}
	.mainplayer_image_album
	{
		display: none!important;
	}
	#mp3music_reverse #cter_popup ul.global_form_box div > span
	{
		padding-left: 0px!important;
	}
	#mp3music_reverse #cter_popup ul.global_form_box div > input
	{
		width:100%!important;
	}
	.younet_html5_player
	{
		clear: both!important;
	}
}
@media (max-width: 480px)
{
	#form-upload-music #download-wrapper .form-label,
	#form-upload-music #file-wrapper .form-label,
	#form-upload-music #save-wrapper .form-label
	{
		display: none;
	}
	.mp3_top_album li
	{
		padding-right: 5px!important;
		padding-left: 8px!important;
	}
	.music_browse_options .icon_music_playonprofile,
	.music_browse_options .icon_music_disableonprofile
	{
		display: block!important;
	}
	#mp3music_navigation-slideshow,
	#mp3music_navigation-slideshow .mp3music_album_photo
	{
		height: 190px!important;
	}
	#global_page_mp3music-account-index div table tr td + td,
	div.mp3music_albumfeatured_info > p.mp3music_album_info,
	#global_page_mp3music-cart-transaction table tr td.head_seller,
	#global_page_mp3music-cart-transaction table tr td.head_type,
	#global_page_mp3music-cart-transaction table tr td.seller,
	#global_page_mp3music-cart-transaction table tr td.tracking_type,
	.cart_seller,
	#global_page_mp3music-cart-checkout table > tbody > tr > td:first-child
	{
		display: none!important;
	}
	#global_page_mp3music-account-index div table tr.mp3_account td + td
	{
		display: block!important;
		padding: 5px;
	}
	#global_page_mp3music-cart-checkout ul div table > tbody > tr > td:first-child
	{
		display: block!important;
		width: 100%!important;
	}
	.layout_mp3music_search_music #frm_search input[type=text]
	{
		width: 70%!important;
	}
	#ynmp3music-inner .mp3_cart
	{
		height: 30px;
	}
	.layout_mp3music_browse_music ul.mp3music_table tr td + td,
	.layout_mp3music_browse_music ul.mp3music_table tr th + th,
	.music_browse_options .icon_music_playonprofile,
	.music_browse_options .icon_music_disableonprofile
	{
		display: none!important;
	}
	.cart_checkout
	{
		padding: 10px 2px 10px 10px!important;
	}
	.cart_select
	{
		display: block;
		margin: 5px 0 0px 10px!important;
	}
	.cart_remove
	{
		display: block;
		clear: both;
		margin: 10px 0px 10px 0px!important;
	}
	#global_page_mp3music-cart-downloads .p_8 > a
	{
		display: block;
	}
	#global_page_mp3music-playlist-edit #demo-list
	{
		min-width: 200px;
	}
}
@media (max-width: 320px)
{
	.mp3_top_album li
	{
		padding-left: 25px!important;
		padding-right: 20px!important;
	}
	.mp3music_album_thumb img.thumb_profile
	{
		max-width: 150px!important;
		max-height: 300px!important;
	}
	.younet_html5_player .yn-music .song-info marquee
	{
		width:64%!important;
	}
	.mp3music_browsealbums div.mp3_album_info span
	{
		display: block;
	}
	.music_player_tracks_add,
	.music_player_tracks_url,
	.mp3music_download
	{
		padding-right: 15px;
	}
	
}
