
/* $Id: main.css 7281 2010-09-03 03:46:33Z john $ */


@include "~/application/modules/Core/externals/styles/constants.css";

/*
MANAGE GROUPBUY
Styles the manage groupbuy page.
*/
ul.groupbuy_browse
{
  clear: both;
}
ul.groupbuy_browse > li
{
  clear: both;  
  padding: 0px 0px 15px 0px;
}
ul.groupbuy_browse > li + li
{
  border-top-width: 1px;
  padding-top: 15px;
}
ul.groupbuy_browse  li  div.groupbuy_browse_photo
{
  float: left;
  overflow: hidden;
  margin-right: 8px;
}
html[dir="rtl"] ul.groupbuy_browse > li > div.groupbuy_browse_photo
{
  float: right;
  margin-right: 0px;
  margin-left: 8px;
}
ul.groupbuy_browse > li .groupbuy_browse_options
{
  float: right;
  overflow: hidden;
  padding-left: 20px;
  width: 125px;
}
html[dir="rtl"] ul.groupbuy_browse > li .groupbuy_browse_options
{
  float: left;
  padding-left: 0px;
  padding-right: 20px;
}
ul.groupbuy_browse > li .groupbuy_browse_options > a
{
  clear: both;
  display: block;
  margin: 5px;
  font-size: .8em;
  padding-top: 2px;
  padding-bottom: 2px;
}
ul.groupbuy_browse .groupbuy_browse_info
{
  overflow: hidden;
}
ul.groupbuy_browse .groupbuy_browse_title
{
  font-weight: bold;
}

ul.groupbuy_browse .groupbuy_browse_info_title
{
  font-weight: bold;
}
.groupbuy_browse_info_date
{
  font-size: .8em;
  color: $theme_font_color_light;
}
ul.groupbuy_browse > .groupbuy_browse_info_blurb > div
{
	font-size: .8em;
  margin-top: 5px;
}
ul.groupbuy_list .groupbuy_browse_info
{
  overflow: hidden;
  clear:both;
}
ul.groupbuy_list .groupbuy_browse_title
{
  font-weight: bold;
}

ul.groupbuy_list .groupbuy_browse_info_title
{
  font-weight: bold;
  margin:10px 0px 1px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
ul.groupbuy_list .groupbuy_browse_info_title a
{
	font-size:14px;
	color:#000;
}
ul.groupbuy_list > li .groupbuy_browse_info_date
{
  font-size: .8em;
  color: $theme_font_color_light;
}
ul.groupbuy_list > .groupbuy_browse_info_blurb > div
{
	font-size: .8em;
  margin-top: 5px;
}
/*
VIEW AUTIONS
*/
ul.groupbuy_list
{
  float:left;
  width:100%;
}
ul.groupbuy_list > li
{
  float:left;
  border:1px solid #D0E2EC;
  width:45.47%;
  height:275px;
  padding:13px 13px 0px 13px;
  position:relative;
  overflow:hidden;
  +rounded(5px);
}
.layout_groupbuy_search_listing_deals ul.groupbuy_list > li
{
	width:27%;
	padding:13px 14px 0px 14px;
	margin:0px 0px 16px 20px;
}
.layout_groupbuy_search_listing_deals .groupbuy_browse_info_blurb
{
	/*padding-top:10px; */
}
ul.groupbuy_list > li > div.groupbuy_browse_photo
{
  overflow: hidden;
}
ul.groupbuy_list h3
{
  margin-bottom: 1px;
}
ul.groupbuy_list .groupbuy_entrylist_date
{
  font-size: 8pt;
  margin-bottom: 5px;
  color: $theme_font_color_light;
}
ul.groupbuy_list .groupbuy_list_description
{
  line-height: 1.5em;
  padding: 5px 5px 5px 0px;
}
ul.groupbuy_list .groupbuy_list_description img
{
  max-width: 100%;
}
ul.groupbuy_list .groupbuy_list_description + .buttonlink
{
  margin-top: 5px;
}
ul.groupbuy_list + .comments
{
  padding-top: 10px;
}
div.groupbuy_gutter .groupbuy_gutter_photo > img
{
  width: 98%;
  display: block;
}
div.groupbuy_gutter .groupbuy_gutter_name
{
  display: block;
  font-weight: bold;
  margin: 3px 0px 15px 0px;
}
div.groupbuy_gutter .buttonlink
{
  padding-top: 3px;
  padding-bottom: 3px;
}
div.groupbuy_gutter h4
{
  margin: 20px 0px 5px 0px;
  text-transform: uppercase;
}
div.groupbuy_gutter > ul > li
{
  margin-bottom: 2px;
}
div.groupbuy_gutter ul.groupbuy_gutter_options > li
{
  font-size: .8em;
  margin: 3px 0px 3px 0px;
}
.generic_layout_container .layout_groupbuy_view_by_date_groupbuy
{
	margin-bottom: 15px;
}

/* ACTION TYPE ICONS */
.activity_icon_comment_groupbuy
{
  background-image: url(~/application/modules/Core/externals/images/types/post.png);
}
.activity_icon_groupbuy_new
{
  background-image: url(~/application/modules/Groupbuy/externals/images/types/deal.gif);
}
/* ITEM TYPE ICONS */
.item_icon_groupbuy
{
  background-image: url(~/application/modules/Groupbuy/externals/images/types/deal.gif);
}
.icon_groupbuy_new 
{
  background-image: url(~/application/modules/Groupbuy/externals/images/types/deal.gif);
}
.icon_groupbuy_photo_new , .icon_photos_new
{
    background-image: url(~/application/modules/Groupbuy/externals/images/addPhoto.png);
}



/* ICONS */
.icon_groupbuy_edit
{
  background-image: url(~/application/modules/Groupbuy/externals/images/edit.png);
}
.icon_groupbuy_delete
{
  background-image: url(~/application/modules/Groupbuy/externals/images/delete.png);
}
.icon_groupbuy_refund
{
  background-image: url(~/application/modules/Groupbuy/externals/images/refund.png);
}
.icon_groupbuy_stop
{
  background-image: url(~/application/modules/Groupbuy/externals/images/stop.png);
}
.icon_groupbuy_start
{
  background-image: url(~/application/modules/Groupbuy/externals/images/start.png);
}
.icon_groupbuy_online
{
  background-image: url(~/application/modules/Groupbuy/externals/images/publish.gif);
}
.icon_groupbuy_statistic
{
  background-image: url(~/application/modules/Groupbuy/externals/images/statistic.gif);
}
.icon_groupbuy_viewall
{
  background-image: url(~/application/modules/Groupbuy/externals/images/types/deal.gif);
}

.layout_groupbuy_latest_groupbuy > ul,
.layout_groupbuy_running_groupbuy > ul,
.layout_groupbuy_most_rated_groupbuy > ul,
.layout_groupbuy_user_groupbuy > ul {
    background-color: #E9F4FA;
    background-image: url("~/application/modules/Core/externals/images/foreground_bg.png");
    background-repeat: repeat-x;
    border: 1px solid #D0E2EC;
    border-radius: 3px 3px 3px 3px;
    padding: 5px;
}
.layout_groupbuy_latest_groupbuy ,
.layout_groupbuy_running_groupbuy ,
.layout_groupbuy_most_rated_groupbuy,
.layout_groupbuy_user_groupbuy  {
    clear: both;
    margin-bottom: 15px;
    overflow: auto;
    width: 100%;
}
.groupbuy_normallevel {
    float: left;
    font-family: Verdana;
    height: 290px;
    margin: 0 1px 7px 0;
    position: relative;
    text-align: center;
    width: 263px;
    padding-bottom:20px;
}

.groupbuy_normallevel .name {
    font-size: 15px;
    height: 35px;
    line-height: 110%;
    margin-bottom: 2px;
    overflow: hidden;
    text-align: center;
    padding-right: 16px;
}
.groupbuy_normallevel .imgprice {
    clear: both;
    height: 100px;
    margin: 5px 0;
}
.groupbuy_normallevel .img {
    cursor: pointer;
    float: left;
    height: 100px;
    overflow: hidden;
    width: 100px;
    padding-top:10px;
}
.groupbuy_normallevel .pricecont {
    float: right;
    padding-right: 20px;
    padding-top: 10px;
    text-align: right;
    width: 100px;
}	
.groupbuy_normallevel .pricecont .label {
    color: #666666;
    font-size: 12px;
    line-height: 100%;
    text-align: right;
}
.groupbuy_normallevel .pricecont .pricecur {
    color: #FF0000;
    font-family: Arial;
    font-size: 15px;
    text-align: right;
}
.groupbuy_normallevel .clockcont .label {
    color: #666666;
    font-size: 11px;
}
.groupbuy_normallevel .clockcont .clock {
    color: #666666;
    font-family: "Trebuchet MS";
    font-size: 24px;
    text-align: center;
}
.groupbuy_normallevel .btnnobuynow {
    margin-left: 61px;
    margin-right: 80px;
}
.groupbuy_normallevel .btn {
    float: left;
    margin-top: 5px;
}
.groupbuy_normallevel .active:hover
{
	background-position: 0 -40px;
}
 .buynow,  .pending,  .halted, .checking {
    background-position: 0 -80px;
}
.groupbuy_normallevel .lastbiddercont {
    padding-top: 5px;
    width: 200px;
}
.groupbuy_normallevel .lastbiddercont {
    color: #000000;
    font-family: "Trebuchet MS";
    font-size: 11px;
    text-align: center;
}
.groupbuy_bb1 {
   /* background: url("~/application/modules/Groupbuy/externals/images/box_back_top2.png") no-repeat scroll left top transparent;  */
    padding-top: 10px;
    position: relative;
    width: 255px;
    height:297px;
    border: 2px  solid #EAEAEA;
}
.groupbuy_bb2 {
   /* background: url("~/application/modules/Groupbuy/externals/images/box_back_bottom2.png") no-repeat scroll left bottom transparent;*/
    padding-bottom: 0px;
}
.groupbuy_bb3 {
   /* background: url("~/application/modules/Groupbuy/externals/images/box_back_mid2.png") repeat-y scroll left top transparent; */
     padding-left: 15px;
}
.groupbuy_normallevel .item {
    height: 260px;
    padding: 3px 0px;
}
.groupbuy_normallevel .lastbiddercont img {
    vertical-align: bottom;
}
.groubuy_baselevel .price_store {
    color: #666666;
    font-family: "Trebuchet MS";
    font-size: 11px;
}
.groubuy_baselevel .price_store span {
    color: #FF0000;
    font-size: 11px;
    font-weight: bold;
}
.groubuy_baselevel .active a {
    color: #FFFFFF;
    display: block;
    font-family: "Trebuchet MS";
    font-size: 14px;
    font-weight: bold;
    line-height: 100%;
    text-decoration: none;
}
div.groupbuy_page_header {
    color: #555555;
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 5px;
}
.groupbuy_icon_big {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
}
div.groupbuy_table_clear {
    margin-left: 26%;
    padding: 2px 5px 10px 0;
}
.table_left {
    left: 0;
    padding: 2px 5px 0 0;
    position: absolute;
    text-align: right;
    width: 25%;
}
.table_right {
    margin-left: 26%;
    position: relative;
    text-align: left;
}
div.message {
    background: none repeat scroll 0 0 #FEFBD9;
    border: 1px solid #EEE9B5;
    color: #6B6B6B;
    font-size: 10pt;
    font-weight: bold;
    margin: 4px;
    padding: 4px;
    position: relative;
}
.table {
    padding-bottom: 10px;
}
.groupbuy_browse_date
{
    font-size:8pt;
    color: #7F7F7F;
}
.groupbuy_form_upload #file-label {
    display: none;
}
.admin_search {
    max-width: 950px !important;
}
/*EDIT DEAL LISTING
*/
ul.groupbuy_editphotos .groupbuy_editphotos_photo
{
  float: left;
  margin-right: 15px;
  overflow: hidden;
  max-height: 115px;
  display: block;
}
ul.groupbuy_editphotos .groupbuy_editphotos_photo img
{
  display: block;
  margin: 3px;
  width: 170px;
  height: 100%;
  max-height: 110px;
}
ul.groupbuy_editphotos .groupbuy_editphotos_info
{
  overflow: hidden;
}
ul.groupbuy_editphotos .groupbuy_editphotos_title_input input
{
  margin: 2px 0px 6px 0px;
  width: 25em;
}
ul.groupbuy_editphotos .groupbuy_editphotos_caption_input text
{
  margin: 2px 0px 6px 0px;
  width: 25em;
  height: 3em;
  min-height: 0px;
}
ul.groupbuy_editphotos .groupbuy_editphotos_label
{
  float: left;
}
ul.groupbuy_editphotos .groupbuy_editphotos_cover
{
  float: left;
}
ul.groupbuy_editphotos .photo-delete-wrapper
{
  float: left;
  margin-right: 15px;
}
 .photo-delete-wrapper > label
{
  display: block;
  float: left;
}
ul.groupbuy_editphotos .groupbuy_editphotos_caption_input input
{
    margin: 2px 0px 6px 0px;
}
/*Widget
*/
img.deal_thumb_medium {
	/* max-width: 170px;
	max-height: 130px; */
	background-repeat: no-repeat;
	background-position: center;
}
.layout_groupbuy_listing_deals img.deal_thumb_medium {
	/*width: 339px;
	height: 195px; */
}
.layout_groupbuy_listing_deals .groupbuy_browse_photo a img,
.layout_groupbuy_search_listing_deals .groupbuy_browse_photo a img
{
	
}
ul.generic_list_widget div.groupbuy_widget_value {
	position: absolute; 
	left: -5px; 
	bottom: 8px;
}
.layout_groupbuy_listing_deals .groupbuy_widget_value,
.layout_groupbuy_search_listing_deals .groupbuy_widget_value
{
	position: absolute; 
	left: 4px; 
	bottom: 83px;
}
ul.generic_list_widget div.groupbuy_widget_value_value {
	text-align: center; 
	font-size: 0.9em; 
	height: 17px;
	line-height:17px;
	background: url(~/application/modules/Groupbuy/externals/images/value_2.png) no-repeat left center;
	color: #FFFFFF;	
	text-decoration: line-through;
	padding:0px 10px;
	margin-left:4px;
	*width:75px;
}
.layout_groupbuy_listing_deals .groupbuy_widget_value_price,
.layout_groupbuy_search_listing_deals .groupbuy_widget_value_price
{
	background: url(~/application/modules/Groupbuy/externals/images/save.png) no-repeat left center;
	height:30px;
	line-height:30px;
	text-align:center;
	*width:128px;
}
.layout_groupbuy_listing_deals .groupbuy_widget_value_price .groupbuy_widget_value_price_price,
.layout_groupbuy_search_listing_deals .groupbuy_widget_value_price .groupbuy_widget_value_price_price
{
	font-size:1.8em;
}
.layout_groupbuy_listing_deals .groupbuy_widget_value_value,
.layout_groupbuy_search_listing_deals .groupbuy_widget_value_value
{
	background: url(~/application/modules/Groupbuy/externals/images/value.png) no-repeat left center;
	height:22px;
	line-height:22px;
	text-align:center;
	text-decoration: line-through;
	font-weight:bold;
	font-size:14px;
	color:#fff;
	margin-left:8px;
	padding:0px 10px;
	*width:100px;
}
ul.generic_list_widget div.groupbuy_widget_value_price {
	text-align: center; 
	height: 23px; 
	padding:0px 0px 0px 10px;
	background:url(~/application/modules/Groupbuy/externals/images/save_2.png) no-repeat left center;
	color: #FFFFFF;	
	line-height:23px;
	*width:89px;
}
ul.generic_list_widget div.groupbuy_widget_value_bought {
	padding-top: 2px;
	color: #999999;
	font-size: 0.9em;
	padding:10px 0px 15px 0px;
}
ul.generic_list_widget div.groupbuy_widget_value_bought span#groupbuy_widget_icon {
	padding-left: 10px;
}

ul.generic_list_widget div.groupbuy_widget_description {
	
	padding-top: 10px;
}
ul.generic_list_widget li div.groupbuy_widget_info  div.groupbuy_widget_photo
{
  margin-right: 8px;
  position: relative;
}
html[dir="rtl"] ul.generic_list_widget li div.groupbuy_widget_info  div.groupbuy_widget_photo
{
  float: right;
  margin-right: 0px;
  margin-left: 8px;
  position: relative;
}
/* Feature Deals
*/
.layout_groupbuy_featured_deals ul.generic_list_widget {
	background-color: transparent;
	margin-bottom:12px;
}
.groupbuy_buy_for_friend
{
	height:31px;
	border:1px solid #80B8D6;
	background:#E9F4FA;
}
.groupbuy_buy_it
{
	background:url(~/application/modules/Groupbuy/externals/images/gift.png) no-repeat left center;
	height:31px;
	line-height:31px;
	font-size:18px;
	color:#333333;
	padding-left:30px;
	width:130px;
	margin:0 auto;
}
div.groupbuy_timerleft {
	background-color: #E9F4FA;
	text-align: center;
	height: 54px;
	width: 99%;
	margin-top: 2px;
	border-width: 1px;
	border-style:solid;
	border-color: #80B8D6;
}
div.groupbuy_timerleft + div.groupbuy_timerleft
{
	height:88px;
}	
div.groupbuy_timerleft + div.groupbuy_timerleft .groupbuy_timercountdown
{
	padding-top:7px;
}
div.groupbuy_timertext {
	text-align: center;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 0px;
	color: #999999;
}
div.groupbuy_timercountdown {
	text-align: center;
	font-size: 1.3em;
	padding-top: 0px;
	font-weight: bold;
	color: #000000;
}
div.groupbuy_number_bought
{
	background:#fff;
	width:70%;
	height:9px;
	border:1px solid #CCCCCC;
	margin:15px 0px 5px 25px;
	position:relative;
	+rounded();
}	
div#groupbuy_percent_complete
{
	height:7px;
	background:#c60;
	border:1px solid #fff;
	position:relative;
	+rounded(2px);
}
div#groupbuy_percent_complete div.percent
{
	width:11px;
	height:9px;
	background: url(~/application/modules/Groupbuy/externals/images/arrow_comp.png) no-repeat;
	position:absolute;
	top:-10px;
	right:-5px;
}
div.groupbuy_boughtleft {
	text-align: center;
	clear:both;
	float:left;
	color: #999999;
	font-size: 1.1em;
	width:100%;
}
div.groupbuy_boughtleft div
{
	float:left;
	padding-top:5px;
	width:100%;
	text-align:center;
	font-size:14px;
}
div.groupbuy_valueprice {
	width: 121%;
	height: 91px;
	background: url(~/application/modules/Groupbuy/externals/images/buy2.png) no-repeat left center;
	margin-bottom: 1px; 
	position:relative;
	z-index:41;
}

div.groupbuy_valueprice_from {
	color: #999999;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 1.2em;
}
div.groupbuy_valueprice_price {


}
div.groupbuy_valueprice_price_price {
	padding-top: 30px;
	font-size: 1.5em;
	color: #FFFFFF;
	padding-left: 10px;
	width: 40%;
	float: left;
}
div.groupbuy_valueprice img {
    float: left;
    margin-top: 20px;
    padding-bottom: 10px;
	height:53px;
	padding-left: 22px;
    width: 100px;
}

div.groupbuy_valueprice_info {
	margin-bottom: 3px;
	clear:both;
	height: 85px;
	width: 100%;
	position:relative;
}
dl.groupbuy_valueprice_block {
	background-color: #E9F4FA;
	float: left;
	text-align: left;
	width: 68%;
	height: 41px;
	border-width: 1px;
	border-style:solid;
	border-color: #80B8D6;
	/*margin-left: 1px;*/
	margin-top:-2px;
	padding-left:5px;
}
dl.groupbuy_valueprice_block  + dl.groupbuy_valueprice_block 
{
	margin-top:2px;
}
dl#groupbuy_discount_block
{
	width:27.5%;
	height:66px;
	padding-top:20px;
	position:absolute;
	top:-2px;
	right:0px;
	margin-top:0px;
	padding-left:0px;
	text-align:center;
}
dl.groupbuy_valueprice_block dt {
	padding-top: 7px;
	padding-right: 5px;
	color: #666666;
	float:left;
	width:35px;
}
dl.groupbuy_valueprice_block dt.fixcss {
	padding-top: 13px;
	padding-right: 5px;
	color: #666666;
	float:left;
	width:35px;
}
#groupbuy_value_price_block dt
{	
	/*padding-top:15px;*/
}	
#groupbuy_save_price_block dt
{
	padding-top:5px;
}
#groupbuy_discount_block dt
{
	width:100%;
}
dl.groupbuy_valueprice_block dd {
	font-size: 18px;
	color: #000000;
	line-height:41px;
}
dl#groupbuy_discount_block dd
{
	line-height:normal;
}
div.groupbuy_feature_title {
	padding-top: 10px;
	/*padding-bottom: 10px;*/
	padding-left: 10px;
		color: #55677A;
	font-size: 1.8em;
	font-weight: bold;
}
div.groupbuy_feature_title a {
	color: #55677A;
	font-size: 1.8em;
	font-weight: bold;
}
div.groupbuy_feature_left {
	width: 34%;
	float: left;
	padding-left: 10px;
}
div.groupbuy_feature_slideshow {
	
	overflow-y: auto;
}

div.groupbuy_feature_slideshow #myGallery, #myGallerySet, #flickrGallery {
	width: 64%;
	height: 362px;
}
div.groupbuy_feature_content {
	clear:both;
	float:left;
	padding-top: 25px;
	padding-bottom:15px;
	width:100%;
}
div.groupbuy_feature_fineprint {
	float: left;
	width: 46%;
	border:none;
	border-right:1px solid #c1c1c1;
	padding:0px 10px 5px 25px;
}
div.groupbuy_feature_fineprint img
{
	width:95%;
}
div.groupbuy_feature_fineprint_title {
	padding-bottom: 10px;
	color: #000000;
	font-weight: bold;
	font-size: 1.4em;
	
}
div.groupbuy_feature_hightlight {
	float: left;
	width: 45%;
	padding:0px 0px 5px 20px;
	border-left:1px solid #ccc;
	margin-left:-1px;
}
div.groupbuy_feature_hightlight img
{
	width:100%;
}
div.groupbuy_feature_hightlight ul li
{
	padding-left:20px;

}
div.groupbuy_feature_hightlight ul li + li
{
	margin-top:5px;
}
div.groupbuy_feature_description {
	padding-top: 20px;
	overflow-y: auto;
}
div.groupbuy_feature_description_description {
	width: 58%;
	float: left;
	padding-left: 25px;
}
div.groupbuy_feature_description_googlemap ul.generic_list_widget {
	width: 35%;
	float: right;
}
div.groupbuy_view_more
{
	clear:both;
	text-align:left; 
	margin-top:15px;
	padding-left:25px;
}
div.groupbuy_view_more a
{
	background: url(~/application/modules/Groupbuy/externals/images/line_a.png) repeat-x left bottom;
	font-size:14px;
	color:#55677A;
}
div.groupbuy_view_more a:hover
{
	background:none;
}
div.groupbuy_link_view
{
	clear:both;
	text-align:left;
	padding:0px 0px 5px 0px;
	margin-left:4px;
}
div.groupbuy_link_view a
{
	font-size:14px;
	font-weight:bold;
	color:#697A8B;
}
.layout_groupbuy_most_great_deals ul.generic_list_widget  li + li
{
	border-top:1px solid #ccc;
	padding-top:20px !important;
}
div.one
{
	width:14px;
	height:17px;
	position:absolute;
	left:-20px;
	top:-5px;
	background: url(~/application/modules/Groupbuy/externals/images/one.png) no-repeat left center;
}
div.many
{
	width:28px;
	height:17px;
	position:absolute;
	right:-38px;
	top:-5px;
	background: url(~/application/modules/Groupbuy/externals/images/many.png) no-repeat left center;
}
div.groupbuy_deal_sold_out
{
	position:absolute;
	top:11px;
	right:12px;
	z-index:999;
	width:94px;
	height:94px;
	background: url(~/application/modules/Groupbuy/externals/images/soldout_2.png) no-repeat left center;
}
.layout_groupbuy_listing_deals div.groupbuy_deal_sold_out
{
	background: url(~/application/modules/Groupbuy/externals/images/soldout.png) no-repeat left center;
}
/* Detail Page
*/ 
#global_page_groupbuy-index-detail div.groupbuy_detail_left {
	width: 26%;
}
#global_page_groupbuy-index-detail div.groupbuy_detail_slideshow #myGallery, 
#global_page_groupbuy-index-detail #myGallerySet, 
#global_page_groupbuy-index-detail #flickrGallery
{
	width:72%;
	height:362px;
}
.groupbuy_group_detail
{
	padding-bottom:15px;
}
.groupbuy_descbold
{
	font-size:18px;
	font-weight:bold;
}
.groupbuy_descweb
{
	font-size:12px;
	color:#a4a5a6;
}

#global_page_groupbuy-index-detail ul.generic_list_widget {
	background-color: transparent;
}
div.groupbuy_detail_timerleft {
	background-color: #E9F4FA;
	text-align: center;
	height: 54px;
	width: 99%;
	margin-top: 2px;
	border-width: 1px;
	border-style:solid;
	border-color: #80B8D6;
}
div.groupbuy_detail_description_left
{
	font-size:14px;
}
div.groupbuy_detail_timerleft + div.groupbuy_detail_timerleft
{
	height: 88px;
}	
div.groupbuy_detail_timerleft + div.groupbuy_detail_timerleft .groupbuy_timercountdown
{
	padding-top:7px;
}
div#deal_rate img
{
	width:auto !important;
}
div#company_component p
{
	font-size:15px;
	color:#333;
}	

div.groupbuy_detail_left {
	width: 35%;
	float: left;
	padding-left: 10px;
}
div.groupbuy_detail_slideshow {
	
	overflow-y: auto;
}

div.groupbuy_detail_slideshow #myGallery, #myGallerySet, #flickrGallery {
	width: 60%;
	height: 335px;
}

div.groupbuy_detail_content {
	clear:both;
	padding-top: 25px;
	float:left;
	width:100%;
}
div.groupbuy_detail_fineprint {
	float: left;
	width: 46%;
	padding:10px 10px 5px 25px;
}
div.groupbuy_detail_fineprint img
{
	width:95%;
}
div.detail_hightlight {
	padding:10px 0 5px 45px;
	
	float:right;
	width: 45%;
	border-left: 1px solid #ddd;
	/*margin-left:-11px;*/
}
div.detail_hightlight img
{
	width:100%;
}
.groupbuy_detail_description_right{
	float:right;
	width: 380px; 
	margin: 0px 0px 11px 11px; 
	background:#E9F4FA;
	padding:20px 0px 15px 21px;
	+rounded(5px);
}
div.groupbuy_detail_fineprint_title {
	padding-bottom: 10px;
	color: #999999;
	font-size: 1.4em;
}
div.line_fineprint
{
/*	border-right:1px solid #ccc;*/
}
a.groupbuy_addthis_button_google_plusone
{
	clear:both;
	margin-top:10px;
}
div.groupbuy_detail_description {
	padding: 25px 20px;
}
div.groupbuy_detail_description_description {
	width: 60%;
	float: left;
}
div.groupbuy_detail_description_googlemap ul.generic_list_widget {
	width: 35%;
	float: right;
}
#start_time-wrapper select {
	width: 50px;	!important;
	margin-right: 10px; !important;
}
#end_time-wrapper select {
    width: 50px;    !important;
    margin-right: 10px; !important;
}
#global_page_groupbuy-index-create #start_time-wrapper select + select {
	width: 50px;	!important;
	margin-right: 10px; !important;
	
}
#global_page_groupbuy-index-create #end_time-wrapper select {
	width: 50px;	!important;
	margin-right: 10px; !important;
}
#global_page_groupbuy-index-create #end_time-wrapper select + select {
	width: 50px;	!important;
	margin-right: 10px; !important;
	
}
#global_page_groupbuy-index-create #end_time-element
{
  display: inline-block; !important;
  margin-right: 15px; !important;
  min-width: 90px; !important;
}
html[dir="rtl"] #global_page_poll-index-create #deadline-element
{
  margin-right: 0px; !important;
  margin-left: 15px; !important;
}
#global_page_groupbuy-index-create .calendar_output_span
{
  margin-right: 10px; !important;
  display: inline-block;
  min-width: 90px;
}


#global_page_groupbuy-index-edit #start_time-wrapper select + select {
	width: 50px;	!important;
	margin-right: 10px; !important;
	
}
#global_page_groupbuy-index-edit #end_time-wrapper select {
	width: 50px;	!important;
	margin-right: 10px; !important;
}
#global_page_groupbuy-index-edit #end_time-wrapper select + select {
	width: 50px;	!important;
	margin-right: 10px; !important;
	
}
#global_page_groupbuy-index-edit #end_time-element
{
  display: inline-block; !important;
  margin-right: 15px; !important;
  min-width: 90px; !important;
}
html[dir="rtl"] #global_page_groupbuy-index-edit #deadline-element
{
  margin-right: 0px; !important;
  margin-left: 15px; !important;
}
#global_page_groupbuy-index-edit .calendar_output_span
{
  margin-right: 10px; !important;
}

#global_page_groupbuy-index-create .global_form div > select + p {
    font-size: 7pt;
    margin-top: 3px;
}
#global_page_groupbuy-index-edit .global_form div > select + p {
    font-size: 7pt;
    margin-top: 3px;
}
.groupbuy_deal_price_value{
	text-decoration: line-through;
}

div.groupbuy_widget_value_price span.groupbuy_widget_value_price_price {
	font-size: 1.1em;
	color: #FFFFFF;	
}
div.groupbuy_widget_value_price span.groupbuy_widget_value_price_value {
	font-size: 0.9em;
	color: #FFFFFF;	
}
form#deals_create > div > div{width: 750px;}

/* google map for group buy postion*/
div#map_canvas_edit{
	width: 568px;
	height: 250px;
	border: 1px solid #CCCCCC;
}
input#latitude{display:none;}
div.groupbuy_map_canvas_featured{width: 372px; height: 290px;border: 1px solid #ddd;}
div.groupbuy_feature_description_left{float:left; width: 400px;}
div.groupbuy_feature_description_right{float:right; width: 300px;}
span.desc434{padding-left: 0px;}
div#groupbuy_loading_google_map{position:absolute; left: 30px;top: 40%;}
div#groupbuy_google_map_component{position:relative;}
div.groupbuy_detail_description_left p br{
	clear: none;
}
div.groupbuy_detail_description_left p img{
	clear: none;
	max-width: 870px;
	margin: 10px 0px;
	padding: 0; 
}
.ynaffiliate_account {
    border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    padding: 4px 0 4px 5px;
}
.ynaffiliate_account_bold
{
	font-weight: 700;
}
#global_page_groupbuy-index-browse .global_form_box .form-wrapper 
{
    clear: none;
    margin-top:0px;
}
.groupbuy_quicklinks_menu {
    background-color: #E9F4FA;
    background-image: url("/application/modules/Core/externals/images/foreground_bg.png?c=111");
    background-repeat: repeat-x;
    border: 1px solid #D0E2EC;
}
.groupbuy_quicklinks_menu {
    border-color: #D0E2EC;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    margin-bottom: 15px;
}
.groupbuy_quicklinks_menu > li{
    margin: 0 6px;
    padding: 6px 0;
}
div.faq-question {
    border-top-width: 1px;
    font-weight: 700;
    padding-top: 10px;
}
ul.faq-details-list li {
    margin-top: 10px;
}
.groupbuy_quicklinks_menu > li {
    margin: 0 6px;
    padding: 6px 0;
}
.groupbuy_quicklinks_menu > li + li {
    border-top: 1px solid #D0E2EC;
}

#global_page_groupbuy-index-buy-deal .contentbox button,
#global_page_groupbuy-index-publish .contentbox button
{
/*   background: none;
   border: none;
   height: 33px;
   color :#5F93B4;  
   text-shadow:none;
   width: auto !important;*/
}

.icon_groupbuy_publish
{
  background-image: url(~/application/modules/Groupbuy/externals/images/icon_publish.png);
  background-repeat: no-repeat;
  padding-left: 33px;
  padding-bottom: 4px;
  padding-top: 2px;
}

.icon_groupbuy_back
{
  background-image: url(~/application/modules/Groupbuy/externals/images/icon_back.png);
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-bottom: 4px;
  padding-top: 2px;
}
.admin_table
{
    border-collapse:  collapse;
}
#global_page_groupbuy-index-listing .global_form_box .form-wrapper {
    clear: none;
    margin-top: 0;
}
#global_page_groupbuy-index-statistic .global_form_box .form-wrapper {
    clear: none;
    margin-top: 0;
}
.p_4
{
    padding:4px;
}
#global_page_groupbuy-index-buy-deal .visible-xs,
#global_page_groupbuy-index-publish .visible-xs
{
	display: none;
}
#global_page_groupbuy-index-buy-deal #buygift,
#global_page_groupbuy-index-publish #paypalbutton,
{ 
  width: auto !important;
}
#global_page_groupbuy-index-buy-deal #paypalbutton

{
  width: auto !important;
}
#global_page_groupbuy-index-buy-deal #virtualmoney,
#global_page_groupbuy-index-publish #virtualmoney
{
  width: auto !important;
}

/* Upload photo HTML5*/
#global_page_groupbuy-photo-upload #form-upload > div
{
	width: 100%;
}
#global_page_groupbuy-photo-upload #files
{
	display: none;	
	list-style: none;
	width: 450px;
	margin-top: 15px;
	max-height: 200px;
	
	border: 1px solid #ccc;
}
#global_page_groupbuy-photo-upload #files > li
{
	padding: 8px 8px 8px 28px;
	font-size: .8em;
	font-weight: normal;
	background: #fff;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: 6px 7px;
	background-image: url(~/externals/fancyupload/assets/waiting.png);
	background-repeat: no-repeat;
}
#global_page_groupbuy-photo-upload #files > li + li 
{
	border-top: 1px solid #ccc;
}
#global_page_groupbuy-photo-upload #files li.file-success 
{
	background-image: url(~/externals/fancyupload/assets/finished.png);
	background-repeat: no-repeat;
}
#global_page_groupbuy-photo-upload #files li .file-remove 
{
	clear: right;
	float: right;
	font-weight: bold;
	overflow: hidden;
}
#global_page_groupbuy-photo-upload #files li .file-info 
{
	display: block;
	clear: both;
	overflow: hidden;
	font-weight: normal;
}
.progress-bar-success 
{
	background-color: $theme_button_background_color!important;
}
button
{
		color: $theme_button_font_color!important;
}
#global_page_groupbuy-photo-upload .global_form div.form-label
{
	padding: 0px;
	width: 0px;
}

.btn-success 
{
    background-color: $theme_button_background_color!important;
    border-color: $theme_input_border_colors!important;
    color: $theme_button_font_color!important;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: $theme_button_background_color_hover!important;
    border-color: $theme_input_border_colors!important;
    color: $theme_button_font_color!important;
}
.btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-image: none!important;
}

#groupbuy_transfer div.form-elements > #to-wrapper
{
	margin-top: -10px;
}
#groupbuy_transfer #to-label, 
#groupbuy_transfer #submit-label, 
#groupbuy_transfer #cancel-label,
#groupbuy_transfer div.form-elements > #toValues-wrapper > #toValues-label,
#global_page_groupbuy-photo-upload #buttons-wrapper
{
	display: none;
}
#groupbuy_transfer #to-element 
{
	margin-top: 10px;
}
#groupbuy_transfer .form-wrapper
{
	clear: none;
}
#groupbuy_transfer div.form-elements > #toValues-wrapper > #toValues-element > span.tag
{
	margin-top: 0px;
	float: none;
}
.layout_groupbuy_profile_options
{
	margin-bottom: 15px;
}
.layout_groupbuy_profile_slideshow_photos
{
	clear: both;
}
#global_page_groupbuy-photo-upload #form-upload #submit-wrapper
{
	display:block;
}
/* Upload photo HTML5 END*/

.layout_middle {
    .layout_groupbuy_search_deals {

       #filter_form {
        padding-bottom: 20px !important;

        div#search-wrapper {
            float: left;
            margin-left: 30px;
        }

        div#location-wrapper {
            float: left;
            margin-left: 30px;
        }

        div#status-wrapper {
            float: left;
            margin-left: 30px;
        }

        div#orderby-wrapper {
            float: left;
            margin-left: 30px;
        }

        div#category-wrapper {
            float: left;
            margin-left: 30px;
        }

        div.form-elements {
            height: 35px;
        }

        .form-wrapper + .form-wrapper {
            margin-top: 0px;
        }

        div.form-elements {
            height: 35px;
        }

        .form-wrapper + .form-wrapper {
            margin-top: 0px;
        }

        #Search-wrapper {
            float: left;
            margin-top: -8px;
            padding-left: 20px;
        }

        }
    }
}

#age-wrapper{
  margin-right: 0;
  input{
    width: 95%;
  }

}
#email-element{
  input{
    width: 95%;
  }
}


.yngroupbuy-deal-button-form{
   overflow: hidden;

   
   
   .global_form{
      clear: none;
      overflow: initial;
   }

   .form-elements{
      padding: 0;

/*      button {
         -moz-border-radius: 3px;
         -webkit-border-radius: 3px;
         border-radius: 3px;
         padding: .5em .8em;
         font-weight: bold;
         font-size: 1.1em;
         border: none;
         background-color: $theme_button_background_color !important;
         border: 1px solid $theme_border_medium_color !important;
         color: $theme_button_font_color !important;
         text-shadow: 1px 1px 0px rgba(0, 0, 0, .3);
         background-repeat: repeat-x;

         &:hover{
            background: $theme_button_background_color_hover !important;
         }
      }*/
   }

   button{
      display: inline-block;
   }

   form{
      
   }
}
#global_page_groupbuy-index-buy-deal .contentbox .yngroupbuy-deal-button-form button.spend_credit{
   color: $theme_button_font_color !important;
}

#global_page_groupbuy-index-buy-deal .contentbox .yngroupbuy-deal-button-form button, 
#global_page_groupbuy-index-publish .contentbox .yngroupbuy-deal-button-form button,
#global_page_groupbuy-index-buy-deal .contentbox .yngroupbuy-deal-button-form button.icon_groupbuy_cod{
   width: auto !important;
   float: left;
/*   border-left: 1px solid $theme_border_medium_color;*/
   margin-bottom: 5px;
   margin-right: 5px;
   min-height: 35px;
   a{
      color: $theme_button_font_color;
   }
}  

#global_page_groupbuy-index-buy-deal .contentbox .yngroupbuy-deal-button-form button#buygift{
/*   border-left: none !important;
   padding-left: 0;*/
}

#global_page_groupbuy-index-publish .contentbox .yngroupbuy-deal-button-form button.spend_credit{
  width: auto !important;
   color: $theme_button_font_color !important;
   margin-top: 0;
}


.yngroupbuy-deal-button-form .global_form > div > div{
   background-color: transparent; 
   border: 0; 
   padding: 0;
   border-radius: 0;
}