/* $Id: style_siteevent_video.css 6590 2014-01-02 00:00:00Z SocialEngineAddOns Copyright 2013-2014 BigStep Technologies Pvt. Ltd. $ */

.siteevent_video_view{
	clear:both;
	border-top-width:1px;
	padding-top:10px;
}
.siteevent_video_view h3{
	margin-bottom: 5px;
}
.siteevent_video_view .siteevent_video_embed{
	margin: 10px 0px 3px 0px;
}
.siteevent_video_view .siteevent_video_date{
	font-size: .8em;
	margin-bottom:3px;
}
.siteevent_video_view .rating{
	margin-top: 7px;
}
.siteevent_video_view #comments{
	margin-top: 10px;
	border-top-width: 1px;
	padding-top: 10px;
}
.siteevent_video_view .comments_options span{
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 6px;
}
.siteevent_video_view_options{
	margin-top:10px;
}
.siteevent_video_view_options > a{
	font-size:11px;
	line-height:16px;
}
.layout_siteevent_video_profile_siteevent_videos h3{
	display:none;
}
.layout_siteevent_show_same_poster,
.layout_siteevent_show_same_tags,
.layout_siteevent_show_also_liked{
	margin-bottom:15px;
	clear:both;
	overflow:hidden;
}