/* $Id: main.css 6590 2010-12-31 9:40:21Z SocialEngineAddOns Copyright 2009-2010 BigStep Technologies Pvt. Ltd. $ */
/*Icons*/ 
.activity_icon_list_new, .item_icon_list_listing, .item_icon_list  {
	background-image: url(~/application/modules/List/externals/images/icons/list.png);
}
.activity_icon_review_list {
	background-image: url(~/application/modules/List/externals/images/review.png);
}
.activity_icon_list_photo_upload {
	background-image: url(~/application/modules/List/externals/images/photo/view.png);
}
.icon_lists_comment, .activity_icon_comment_list{
	background-image: url(~/application/modules/List/externals/images/comment.png);
}
/*theme light color*/
.lists_browse_filters .form-element span.overTxtLabel, .browselists_criteria span.overTxtLabel{
 color: $theme_font_color_light;
}
/*theme foreground css*/
ul.list_lists_thread > li, ul.list_lists .list_lists_replies, .list_lists_options, .browselists_criteria, div.list_photo_info, .advlist_profile_location {
 +foreground;
}
/*theme foreground background color css*/
.list_categories_block, .edit_location_form .global_form_box {
 background-color:$theme_foreground_background_color;
}
/*theme body background color css*/
.edit_location_form .global_form_box > div, ul.list_lists_thread .list_lists_thread_body blockquote, .list_categories_block > li {
 background-color:$theme_body_background_color;
}
/*theme border medium color*/
div.details, div.write_link, div.list_write_overview .des_edit, div.list_write_overview .textarea textarea, ul.list_lists_thread .list_lists_thread_body blockquote, .list_img_view .list_thumb ul li > a, .list_layout_left .global_form > div > div ul + ul, .list_layout_right .global_form > div > div ul + ul {
 border-color:$theme_border_medium_color;
}
/*theme border dark color*/
.list_img_view .list_thumb ul li > a:hover, .list_categories_list h6, .print_listing_title {
 border-color:$theme_border_dark_color;
}
/*theme border color light*/
ul.list_video_list > li + li, .list_categories_list .sub_cat a, {
 border-color:$theme_border_color;
}
/*theme foreground border*/
ul.list_lists_thread .list_lists_thread_details, ul.list_lists_thread > li, .edit_location_form .global_form_box > div, .list_categories_block > li, div.list_photo_info, .listlike_users_block_links {
 border-color:$theme_foreground_border_color !important;
}
ul.list_browse_category li .cat, ul.list_browse_category li .subcat a, ul.list_browse_category li {
 border-color:$theme_foreground_border_color_light;
}
.list_categories_list .sub_cat a:hover {
 background-color:$theme_border_color;
}
/*theme rounded css*/
div.list_photo_info, .list_categories_block, .browselists_criteria, .list_lists_options, ul.list_lists .list_lists_replies {
 +rounded;
}
/*theme list background color*/
div.list_photo_view #media_photo {
 border: 1px solid $theme_photo_border_color;
}
/*css for color and background end here*/
/*
FEED ITEMS
Styles items with list attachments in the feed.
*/
ul.feed .feed_attachment_list_listing {
	display: block;
	overflow: hidden;
	margin: 0px 5px 5px 0px;
	vertical-align: top;
}
[dir="rtl"] ul.feed .feed_attachment_list_listing{
	margin: 0px 0 5px 5px;
}
ul.feed .feed_attachment_list_listing > div > a {
	display: block;
	float: left;
	margin-right: 7px;
}
[dir="rtl"] ul.feed .feed_attachment_list_listing > div > a{
	float:right;
	margin-left:7px;
	margin-right:0px;
}
ul.feed .feed_attachment_list_listing > div > a > img {
	display: inline-block;
	max-width: 90px;
	max-height: 90px;
	vertical-align: top;
}
ul.feed .feed_attachment_list_listing > div > div {
	overflow: hidden;
}
